// ------------------------------------------------
//  Footer
// ------------------------------------------------
.certificados {
  margin         : auto;
  margin-top     : 60px;
  max-width      : 665px;
  padding-bottom : 40px;
}
#Bottom {
  background : $color-one;
  color      : #fff;
  padding    : 20px;
  text-align : center;
  a {
    color     : #fff;
    font-size : rem(14);
    padding   : 0 10px;
  }
}