// ------------------------------------------------
//  Header
// ------------------------------------------------

header {
  background : $color-one;
  box-shadow : 0 0 14px 0 rgba(0, 0, 0, 0.38);
  position : relative;
  z-index : 2;
}
.areaHeader {
  .logo {
    max-width : 320px;
    margin : auto;
  }
  .topBar {
    padding       : 15px 0;
    text-align    : right;
    border-bottom : 1px solid #f10313;
  }
  .subLinks {
    display        : inline-block;
    vertical-align : middle;
    ul {
      margin  : 0;
      padding : 0;
      li {
        display    : inline-block;
        list-style : none;
        padding    : 0 6px;
        a {
          color     : #fff;
          font-size : rem(14);
        }
      }
    }
  }
  .Redes {
    border-left    : 1px solid #f10313;
    display        : inline-block;
    margin-left    : 10px;
    padding-left   : 20px;
    padding-right  : 10px;
    vertical-align : middle;
  }
}
