.vertical-nav {
  min-width: 19rem;
  width: 19rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

  .logo {
    margin: 50px 0;
    padding: 0 20px;
  }

  .avatar {
    margin-left: 40px;
  }

  .nav {
    padding: 0 20px;

    .nav-link {
      color: #777;
      font-family: 'Metronic Pro';

      i {
        color: #777;
      }

      &.active {
        color: $primary-color;
        font-weight: 900;

        i {
          color: $primary-color;
        }
      }
    }
  }
}

#sidebar.active {
  margin-left: -19rem;
}

#content.active, .page-content.active {
  width: 100%;
  margin: 0;
}

.top-menu {
  margin-bottom: 10px;

  a {
    margin-left: 10px;
    display: inline-block;
    color: #888;
    font-family: 'Metronic Pro';

    i {
      color: #888
    }
  }
}

.logout {
  position: absolute;
  bottom: 20px;
}