{% extends 'admin/base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}

    {% include 'admin/includes/menu.html.twig' %}


    <div id="content">

        {%  include 'admin/includes/top.html.twig' %}

        <!-- Page content holder -->
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <h2>
                        {% if reg.view_profile %}
                            Mi Perfil
                        {% else %}
                            Información Usuario
                        {% endif %}
                    </h2>
                    <form action="{{ path('user_save', {'id':reg.id}) }}" method="POST" role="form" class="row form-user before-unload" autocomplete="off">
                        <div class="form-group col-sm-6">
                            <label>Identificación</label>
                            <input type="text" class="form-control" name="dat[identification]" placeholder="Identificación" maxlength="10", value="{{ reg.identification ?? null }}" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Nombre Completo</label>
                            <input type="text" class="form-control" name="dat[full_name]" maxlength="100" placeholder="Nombre completo" value="{{ reg.full_name ?? null }}" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Estado</label>
                            <select class="form-control" required name="dat[is_active]">
                                <option value="1" {{ reg.is_active ? 'selected' : '' }}>Activo</option>
                                <option value="0" {{ reg.is_active ? '' : 'selected' }}>Inactivo</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="">Teléfono</label>
                            <input type="text" class="form-control" name="dat[phone]" placeholder="Teléfono" value="{{ reg.phone ?? null }}">
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="">Correo electrónico</label>
                            <input type="email" class="form-control" name="email"  placeholder="ejemplo@dominio.com" value="{{ reg.email ?? null }}" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="">Contraseña</label>
                            <input type="password" class="form-control" name="password" placeholder="Contraseña" id="password" {{ reg.new ? 'required' : '' }}>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="">Confirmación contraseña</label>
                            <input type="password" class="form-control" name="password_confirm" placeholder="Confirmación contraseña" {{ reg.new ? 'required' : '' }}>
                        </div>
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-primary m-t-5 btn-md btn-submit-user">Guardar Usuario</button>
                            {% if app.user.isSuperAdmin() %}
                                <a href="{{ path('user_list') }}" class="btn btn-danger m-t-5 btn-md">Cancelar</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_functions %}
    <script>
        var object_id         = '{{ reg.id }}'
            url_verify_email  = '{{ path('url_verify_email') }}'
    </script>
{% endblock %}