{% extends 'admin/base.html.twig' %}

{% block title %}Listado de Eventos Borrados{% endblock %}

{% block body %}
    {% include 'admin/includes/menu.html.twig' %}

    <div id="content">
        {% include 'admin/includes/top.html.twig' %}
        <div class="page-content">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Eventos Inactivos</h2>
                </div>
                <div class="col-lg-6 text-right">
                        <a href="{{ path('event_index') }}" class="btn btn-sm btn-secondary"><i class="fa fa-eye"></i>
                        Ver activos</a>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <div id="datatable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_functions %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        var table_settings = {{ datatable_settings(datatable) }}
    </script>
       
{% endblock %}