{% extends 'admin/base.html.twig' %}
{% block title %}Evento{% endblock %}
 {% block style_tags %}
     <link rel="stylesheet" href="{{ asset('admin/plugins/libs/summernote/summernote.min.css') }}">{% endblock %}
{% block body %}
    {% include 'admin/includes/menu.html.twig' %}

    <div id="content">
        {% include 'admin/includes/top.html.twig' %}
        <div class="page-content">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Información del Evento</h2>
                </div>
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Información</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#terms" role="tab" aria-controls="profile" aria-selected="false">Términos y condiciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#banners" role="tab" aria-controls="contact" aria-selected="false">Banners</a>
                        </li>
                    </ul>
                    <form action="{{ path('event_save', {'id': reg.id ?? 0}) }}" method="POST" role="form" class="form before-unload" enctype="multipart/form-data">
                        <div class="tab-content mt-3 p-0">
                            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">
                                <input type="hidden" name="dat[banner_id]" id="banner_id">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label for="">Título del evento</label>
                                        <input type="text" class="form-control" name="dat[title]" placeholder="Título del evento" value="{{ reg.title ?? null }}" required/>
                                    </div>

                                    <div class="form-group col-sm-3">
                                        <label for="">Fecha inicio</label>
                                        {% set start_date = reg.startDate ?? null %}
                                        <input type="date" class="form-control" name="dat[start_date]" placeholder="Fecha inicio" value="{{ start_date | date("Y-m-d") }}" required/>
                                    </div>

                                    <div class="form-group col-sm-3">
                                        <label for="">Fecha final</label>
                                        {% set final_date = reg.finalDate ?? null %}
                                        <input type="date" class="form-control" name="dat[final_date]" placeholder="Fecha final" value="{{ final_date  | date("Y-m-d") }}" required/>
                                    </div>

                                    <div class="form-group col-sm-3">
                                        <label for="">Meta proveedores</label>
                                        <input type="number" class="form-control" name="dat[percent]" placeholder="Número de proveedores visitados" value="{{ reg.percent ?? null }}" required/>
                                    </div>

                                    <div class="form-group col-sm-3">
                                        <label for="">Estado</label>
                                        <select class="form-control" name="dat[active]" required>
                                            <option value="0" {{ (reg.active ?? 0) == 0 ? 'selected':'' }}>No Visible</option>
                                            <option value="1" {{ (reg.active ?? 0) == 1 ? 'selected':'' }}>Visible</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label for="">Descripción del evento</label>
                                        <textarea class="form-control" name="dat[description]" placeholder="Descripción" maxlength="255">{{ reg.description ?? null }}</textarea>
                                        <label class="text-muted"><small>Max: 255 Caracteres</small></label>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="terms" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label for="">Archivo términos y condiciones</label>
                                        <div class="custom-file">
                                            <input type="file" name="file" class="custom-file-input" id="file" accept="application/pdf" {{ (content.id ?? 0) > 0 ? 'disabled' }}>
                                            <label class="custom-file-label" for="file">{{ content.fileurl ?? 'Selecciona un archivo' }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="">Términos y condiciones</label>
                                        <textarea id="summernote" name="dat[terms_content]" {{ (content.id ?? 0) > 0 ? 'disabled' }}>{{ content.description ?? null }}</textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="banners" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form action="" enctype="multipart/form-data" method="POST">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="widget">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="dropzone dropzone-slide"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <ul class="sortable sortable-image" id="sortable_slide">
                                                        {% for image in images %}
                                                            <li id="image_{{ image.id }}">
                                                                <div class="ImageWrapper chrome-fix">
                                                                    <div class="caption-file">
                                                                        <div class="center">
                                                                            <div class="content">

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <img src="{{ asset("upload/banner/s"~image.filename) }}" class="img-responsive" width="150" height="auto">
                                                                    <div class="ImageOverlayH"></div>
                                                                    <div class="Buttons CStyleC">
                                                                        <span class="WhiteRounded"><a onclick="editImg({{ image.id }})"><i class="fa fa-pencil sinister icon"></i></a></span>
                                                                        <span class="WhiteRounded"><a href="{{ asset("upload/banner/b"~image.filename) }}" title="{{ image.description }}" class="popup-gallery"><i class="fa fa-search sinister icon"></i></a></span>
                                                                        <span class="WhiteRounded"><a onclick="deleteImg({{ image.id }})"><i class="fa fa-trash sinister sinister-delete icon"></i></a></span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="spinner" class="spinner" style="display:none;">
                    <img id="img-spinner" src="{{ asset('site/images/spinner.gif') }}" alt="Loading" width="45"/>
                </div>
                <div class="form-group col-sm-12 mt-2">
                    <button type="button" class="btn btn-primary m-t-5 btn-md btn-submit">Guardar Evento</button>
                    <a href="{{ path('event_index') }}" class="btn btn-danger m-t-5 btn-md">Cancelar</a>
                </div>

                {% if (reg) %}
                    <div class="col-lg-12">
                        <hr>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="mb-0">Proveedores del Evento</h4>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="button" class="btn btn-sm btn-primary" onclick="add_provider()"><i class="fa fa-plus"></i> Añadir Proveedor</button>&nbsp;
                        <a class="btn btn-sm btn-info" href="{{ path('event_provider_import',{event_id : reg.id}) }}"><i class="fa fa-download"></i> Importar</a>
                    </div>

                    <div class="col-lg-12">
                        <hr>
                    </div>

                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <div id="datatable">
                                <div class="text-center mt-3">
                                    <p><img src="{{ asset('site/images/spinner.gif') }}" alt="" width="80"></p>
                                    <p>Cargando datos ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script_variables %}
    <script>
        var banner_id               = {{ reg.banner.id ?? 0 }},
            upload_url              = '{{ asset('upload') }}/',
            url_edit                = '{{ path('banner_edit_file') }}',
            img_size                = '1150px ancho x 341px',
            disable_summer          = {{ (content.id ?? 0) }},
            get_provider_info_url   = '{{ path('provider_info') }}',
            get_providers_url       = '{{ path('provider_get_all') }}',
            save_event_provider_url = '{{ path('save_event_provider') }}/',
            del_ctrl                = '{{ path('delete_event_provider') }}',
            table_settings          = {{ datatable_settings(datatable) }},
            event_id                = {{ reg.id ?? 0 }},
            url_edit                = '{{ path('banner_edit_file') }}',
            url_update              = '{{ path('banner_update_file') }}/',
            url_sort                = '{{ path('banner_sort') }}',
            url_get_file            = '{{ path('banner_get_file') }}/',
            url_upload_file         = '{{ path('banner_upload') }}/',
            url_delete_file         = '{{ path('banner_delete_file') }}/',
            table                   = null
    </script>
{% endblock %}
{% block script_functions %}
    <script src="{{ asset('admin/plugins/libs/summernote/summernote-bs4.min.js') }}"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
{% endblock %}