// ------------------------------------------------
// Share
// ------------------------------------------------

$follow_size : 40px;

ul.share {
  margin   : 0;
  overflow : hidden;
  padding  : 0;
  li {
    float      : left;
    height     : $follow_size;
    list-style : none;
    margin     : 0 2px 0;
    padding    : 0;
    position   : relative;
    &:first-child {
      margin-left : 0;
    }
    &:last-child {
      margin-right : 0;
    }
  }
  span {
    display  : block;
    height   : 0;
    overflow : hidden;
    width    : 0;
  }
  a {
    border-radius   : 2px;
    color           : white;
    display         : block;
    height          : $follow_size;
    position        : relative;
    text-align      : center;
    text-decoration : none;
    width           : $follow_size;
    &:before {
      font        : 17px "FontAwesome";
      text-shadow : 0 1px 2px rgba(0, 0, 0, 0.52);
      @include middle-center();
      @include transition(all 0.5s ease);
    }
    &:hover:before {
      font : 20px "FontAwesome";
    }
    $icons : (
            facebook:   (char: "\f39e", color: #3b5998, dark: darken(#3b5998, 10%)),
            twitter:    (char: "\f099", color: #55acee, dark: darken(#55acee, 10%)),
            google:     (char: "\f1a0", color: #dd4b39, dark: darken(#dd4b39, 10%)),
            instagram:  (char: "\f16d", color: #45668e, dark: darken(#45668e, 10%)),
            linkedin:   (char: "\f0e1", color: #0977b5, dark: darken(#0977b5, 10%)),
            youtube:    (char: "\f167", color: #d22e34, dark: darken(#d22e34, 10%)),
            whatsapp:   (char: "\f232", color: #25D366, dark: darken(#25D366, 10%))
    );
    @each $social, $icon in $icons {
      &[title="#{$social}"] {
        background-color : map-get($icon, color);
        @include transition(all 0.3s ease);
        &:hover {
          background-color : map-get($icon, dark);
        }
        &:before {
          content : map-get($icon, char);
        }
      }
    }
  }
}