<!DOCTYPE html>
<html lang="es">
<head>

    {% include 'admin/includes/icon.html.twig' %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>Asociado | {% block title %}Bienvenido{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('site/css/style.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('site/css/fonts.min.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">

{% block body %}

{% endblock %}

{% block script_variables %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('site/js/vendor.min.js') }}"></script>
    <script src="{{ asset('site/js/scripts.min.js') }}?v=123"></script>

    <script>
        var premiaton_alert   = '',
            associated_logout = '{{ path('associated_logout') }}',
            premiaton_banner  = '{{ app.session.get('banner_image') }}',
            incentive_banner  = '{{ app.session.get('banner_incentive') }}',
            url_path          = '{{ asset('upload') }}/',
            current_route     = '{{ app.request.get('_route') }}',
            finish_hour_url   = '{{ path('update_finish_hour_zoom') }}'
    </script>
{% endblock %}

{% block script_functions %}

{% endblock %}

</body>
</html>