{% extends 'site/base.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block body %}
    <div id="content" class="auto_margin providers-section">
        {% include 'site/includes/header.html.twig' %}
        {% include 'site/includes/banner.html.twig' %}
        <div class="page-content section-contact">
            <div class="row grid-section">
                <div class="col-sm-12 col-lg-12 text-center">
                    <h1 class="mb-5">NUESTRO EQUIPO DE SOPORTE</h1>
                </div>

                {% for agent in agents %}

                    <div class="col-sm-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center"><strong>{{ agent.name }}</strong><br> <span class="email"><a href="">{{ agent.email }}</a></span></h5>
                                <ul>
                                    <li><span><i class="fa fa-mobile-alt"></i></span> + {{ agent.mobile }}</li>
                                    <li><span><i class="fa fa-phone"></i></span> +{{ agent.phone }} ext {{ agent.ext }}</li>
                                    <li>
                                        <span><i class="fa fa-clock"></i></span>
                                        <span class="text-left">
                                            {% if days[agent.id] is defined %}
                                                {{ days[agent.id] }}
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include 'site/includes/footer.html.twig' %}
    </div>
{% endblock %}