{% extends 'site/base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}

    <div id="content" class="auto_margin event-section">

        {% include 'site/includes/header.html.twig' %}

        {% include 'site/includes/banner.html.twig' %}

        <div class="loader-event">
            <h1>PRÓXIMOS EVENTOS</h1>
        </div>
        <div class="page-content">
            <div class="row">
                <div id="spinner" class="spinner" style="display:none;">
                    <img id="img-spinner" src="{{ asset('site/images/spinner.gif') }}" alt="Loading" width="45"/>
                </div>
                <div class="col-lg-12">
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading font-weight-bold"><i class="fa fa-question-circle"></i> Ayuda</h4>
                        <p></p>
                        <hr>
                        <p class="mb-0">
                            Presiona clic sobre un evento para ingresar a el.  <strong>Recuerda que debes aceptar los
                           Términos y Condiciones del evento</strong>.
                        </p>
                    </div>
                    <div id="fullcalendar">

                    </div>
                </div>
            </div>
        </div>

        {% include 'site/includes/footer.html.twig' %}

    </div>

    {# Modal información evento#}
    <div class="modal fade" id="modal_event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold"><i class="fa fa-bell"></i> Evento</h5>
                    <button type="button" class="close close-modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-2">
                        <div class="alert alert-primary" role="alert">
                            <h3 class="h3 mb-1 font-weight-normal" id="title"></h3>
                            <hr>
                            Del <label><span class="font-weight-bold" id="start_date"></span> Hasta el <span class="font-weight-bold" id="final_date"></span></label>
                        </div>
                        <div class="mb-2 div-download">
                            <a type="button" target="_blank" class="btn btn-md btn-link download"><i class="fa fa-download"></i> Descargar Términos y Condiciones</a>
                        </div>
                        <div class="progress mb-3" style="height: 2px;">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-justify" id="description"></p>

                        <label class="text-primary font-weight-bold mt-0 accept-terms">Guardando...</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-secondary font-weight-bold close-modal">Cerrar</button>
                    <button class="btn btn-md btn-success font-weight-bold" type="button" data-id="0" id="btn_accept">
                        <i class="fa fa-check-circle"></i> Aceptar Términos y Condiciones
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_functions %}
    <script>
        var urlGetEvents   = '{{ path('event_get') }}',
            getEventData   = '{{ path('get_event_associated') }}',
            urlMenuEvents  = '{{ path('menu_events') }}',
            saveTerms      = '{{ path('save_accept_content') }}',
            logUserEvent   = '{{ path('log_user_event') }}';
    </script>
{% endblock %}
