{% extends 'site/base.html.twig' %}

{% block title %}Menú Eventos{% endblock %}

{% block body %}

    <div id="content" class="auto_margin providers-section">

        {% include 'site/includes/header.html.twig' %}

        {% include 'site/includes/banner.html.twig' %}

        <div class="page-content">
            <div class="row grid-section">
                <div class="col-lg-6 col-sm-3 col-md-4">
                    <a href="{{ path('associate_providers') }}">

                        <div class="home-button">
                            <h2>PROVEEDORES <br>PARTICIPANTES</h2>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-3 col-md-4">
                    <a href="{{ path('associate_premiaton') }}">
                        <div class="home-button">
                            <h2>GANADORES <br>PREMIATÓN</h2>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-3 col-md-4 mt-3">
                    <a href="{{ path('associate_offers') }}">
                        <div class="home-button">
                            <h2>OFERTAS <br>PROVEEDORES</h2>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-3 col-md-4 mt-3">
                    <a href="{{ path('associate_incentive') }}">
                        <div class="home-button">
                            <h2>INCENTIVOS <br>DE PROVEEDORES</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        {% include 'site/includes/footer.html.twig' %}

    </div>

{% endblock %}
