{% extends 'site/base.html.twig' %}

{% block title %}Incentivos Proveedores{% endblock %}

{% block body %}

    <div id="content" class="auto_margin providers-section">

        {% include 'site/includes/header.html.twig' %}

        {% include 'site/includes/banner.html.twig' %}

        <div class="page-content section-contact">
            <div class="row grid-section">
                <div class="col-sm-12 col-lg-12 text-center">
                    <h1 class="mb-5">INCENTIVOS PROVEEDORES</h1>
                    <div class="text-center">
                        {% if(incentive) %}
                            <img src="{{ asset('upload/incentive/') }}{{ incentive[0]['logo'] }}" class="img-fluid">
                        {% else %}
                            <h6 class="mb-5">No se encontraron incentivos</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'site/includes/footer.html.twig' %}

    </div>

{% endblock %}