{% extends 'site/base.html.twig' %}

{% block title %}Home Eventos{% endblock %}

{% block body %}

<div id="content" class="auto_margin providers-section">

    {% include 'site/includes/header.html.twig' %}

    <div class="owl_slider owl-carousel owl-theme">
        <div class="item">
            <div class="mask"></div>
            <figure>
                <img src="{{ asset('site/images/banner.png') }}" class="fill-box">
            </figure>
        </div>
    </div>
    <div class="page-content section-contact">
        <div class="row grid-section">
            <div class="col-sm-12 col-lg-12 text-center">
                <h1 class="mb-5">INCENTIVOS PROVEEDORES</h1>
            </div>
            {% for incentive in incentives %}
            <div class="col-sm-12 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title text-center">
                            <strong>{{incentive.start_date}}</strong><br>
                            <br>
                            <span>Código del Asociado:</span><strong> {{incentive.code}}</strong>
                        </h4>
                        <img src="{{ asset('site/images/logos/logo_bcn_lineal.png') }}" class="img-fluid">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'site/includes/footer.html.twig' %}

</div>

{% endblock %}