{% extends 'site/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body_class %}login-form{% endblock %}

{% block body %}

    {#<img src="{{ asset('site/images/flags.png') }}" class="flags" alt="">#}
    <div id="login-row" class="row justify-content-center align-items-center">
        <div class="col-lg-6"></div>
        <div class="col-md-6 n-p-r" id="login-column">
            <div class="row">
                <div class="col-md-11">
                    <form class="form login-box" action="" method="post" autocomplete="off">
                        <div class="title">
                            <h2 class="text-center">Bienvenido a la plataforma donde podrá enterarse y dinamizar con todos los eventos que tenemos para usted en la Cooperativa.</h2>
                        </div>
                        <input type="hidden" name="form" value="associate_login">
                        {#<input type="hidden" name="_target_path" value="{{ path('associate_login') }}" />#}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="col-md-12">
                            {% if error %}
                                <div class="alert alert-danger"><i class="fa fa-info-circle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        </div>
                        <div class="row n-m">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" id="username" name="email" placeholder="CÓDIGO DE DROGUERÍA " class="form-control" required autofocus>
                                </div>
                            </div>
                            {#<div class="col-lg-6">#}
                                {#<div class="form-group">#}
                                    {#<input type="password" id="password" name="password" placeholder="CONTRASEÑA" class="form-control" required>#}
                                {#</div>#}
                            {#</div>#}
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-login btn-md" value="submit">INGRESAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

