<!DOCTYPE html>

<head>
    <title>Vista de Reunión</title>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.1/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.1/css/react-select.css"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="origin-trial" content="">

    {% include 'admin/includes/icon.html.twig' %}
</head>

<body>
<script src="https://source.zoom.us/1.9.1/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/1.9.1/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/1.9.1/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/1.9.1/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/1.9.1/lib/vendor/lodash.min.js"></script>
<script src="https://source.zoom.us/zoom-meeting-1.9.1.min.js"></script>

<script src="{{ asset('admin/plugins/vendors/jquery.min.js') }}"></script>
<script src="{{ asset('admin/plugins/libs/moment/moment.min.js') }}"></script>
<script src="{{ asset('site/js/modules/zoom/js/tool.js') }}"></script>
<script src="{{ asset('site/js/modules/zoom/js/vconsole.min.js') }}"></script>
<script src="{{ asset('site/js/modules/zoom/js/meeting.js') }}"></script>

<script>
    const simd = async () => WebAssembly.validate(new Uint8Array([0, 97, 115, 109, 1, 0, 0, 0, 1, 4, 1, 96, 0, 0, 3, 2, 1, 0, 10, 9, 1, 7, 0, 65, 0, 253, 15, 26, 11]))
    simd().then((res) => {
        console.log("simd check", res);
    });
</script>
</body>

</html>