{% extends 'site/base.html.twig' %}

{% block title %}Ofertas{% endblock %}

{% block body %}

    <div id="content" class="auto_margin providers-section">

        {% include 'site/includes/header.html.twig' %}

        {% include 'site/includes/banner.html.twig' %}

        <div class="page-content">
            <div class="row grid-section">
                <div class="col-lg-12 text-center">
                    <h1 class="mb-5">OFERTAS PROVEEDORES</h1>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive table-offer">
                        <table border="0">
                            <thead>
                            <th width="100" class="text-center">PROVEEDOR</th>
                            <th>APLICA</th>
                            <th>DESCUENTO</th>
                            <th width="40" class="text-center">ZOOM</th>
                            </thead>
                            {% for offer in offers %}
                                <tr>
                                    <td>
                                        {% if(offer.image) %}
                                            <img src="{{ asset('upload/logos/') }}{{ offer.image }}" alt="Imagen proveedor" width="100">
                                        {% else %}
                                            <img src="{{ asset('upload/default/no-image.jpg') }}" alt="Imagen proveedor" width="100">
                                        {% endif %}
                                    </td>
                                    <td>{{ offer.apply }}</td>
                                    <td>{{ offer.discount }}</td>
                                    <td width="50">
                                        <a href="{{ path('join_zoom', {'ev_provider_id': offer.event_provider_id} ) }}" target="_blank"><img src="{{ asset('site/images/zoom.png') }}" width="100" alt=""></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% include 'site/includes/footer.html.twig' %}
    </div>
{% endblock %}
