{% extends 'site/base.html.twig' %}

{% block title %}PQRS{% endblock %}

{% block body %}

    <div id="content" class="auto_margin providers-section">

        {% include 'site/includes/header.html.twig' %}

        {% include 'site/includes/banner.html.twig' %}

        <div class="page-content">
            <div class="row grid-section">
                <div class="col-sm-12 p-0">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>

                <h2>PETICIONES, QUEJAS RECLAMOS Y SOLICITUDES</h2>
                <p>
                    Para nosotros es muy importante contar con usted. En procura de mejorar nuestros servicios y beneficios que ofrecemos a nuestros asociados, hemos colocado en servicio PQRS, en el cual usted podrá registrar Felicitaciónes, Quejas, Reclamos, Sugerencias sobre temas de nuestra Cooperativa.
                </p>

                <form action="{{ path('pqrs_new') }}" method="POST" role="form" id="pqrs" name="pqrs" class="row form-validate form-contact" onsubmit="$('.submit-btn').prop('disabled',true);$('.submit-btn').text('Enviando mensaje ...')">
                    <div class="form-group col-sm-12 col-lg-6">
                        <label for="name">Nombre completo</label>
                        <input type="text" class="form-control" name="dat[name]" id="name" placeholder="Escribe tu nombre completo" required/>
                    </div>
                    <div class="form-group col-sm-12 col-lg-6">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="dat[email]" id="email" placeholder="Escribe tu correo electrónico" required/>
                    </div>
                    <div class="form-group col-sm-12 col-lg-3">
                        <label for="city">Ciudad</label>
                        <input type="text" class="form-control" name="dat[city]" id="city" placeholder="Escribe tu ciudad" required/>
                    </div>
                    <div class="form-group col-sm-12 col-lg-3">
                        <label for="phone">Teléfono</label>
                        <input type="text" class="form-control" name="dat[phone]" id="phone" placeholder="Escribe tu teléfono" required/>
                    </div>

                    <div class="form-group col-sm-12 col-lg-6">
                        <label for="petition">Tipo petición</label>
                        <select type="text" class="form-control" name="dat[type]" required>
                            <option value="1">Petición</option>
                            <option value="2">Queja</option>
                            <option value="3">Reclamo</option>
                            <option value="4">Solicitud</option>
                            <option value="5">Felicitación</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="message">Mensaje</label>
                        <textarea name="dat[message]" class="form-control" id="message" rows="4" placeholder="Escribe tu mensaje" required></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-2">
                        <button type="submit" class="btn btn-danger waves-effect btn-lg submit-btn"><strong>Enviar mensaje</strong></button>
                    </div>
                </form>
            </div>
        </div>


        {% include 'site/includes/footer.html.twig' %}

    </div>

{% endblock %}
{% block script_functions %}
    <script>
    </script>
{% endblock %}
