{% extends 'site/base.html.twig' %}

{% block title %}Premiaton{% endblock %}

{% block body %}

    <div id="content" class="auto_margin providers-section">

        {% include 'site/includes/header.html.twig' %}

        {% include 'site/includes/banner.html.twig' %}

        <div class="page-content section-contact">
            <div class="row grid-section">
                <div class="col-sm-12 col-lg-12 text-center">
                    <div class="text-center">
                        <p>
                            <img src="{{ asset('site/images/premiaton.png') }}" alt="" class="mb-3">
                        </p>
                        {% if(premiaton) %}
                            <img src="{{ asset('upload/premiaton/') }}{{ premiaton[0]['logo'] }}" class="img-fluid">
                        {% else %}
                            <h6 class="mb-5">No se encontraron ganadores</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'site/includes/footer.html.twig' %}

    </div>

{% endblock %}