{% extends 'site/base.html.twig' %}

{% block title %}Premiatón{% endblock %}

{% block body %}


    <div id="content" class="auto_margin providers-section">

        {% include 'site/includes/header.html.twig' %}

        <div class="owl_slider owl-carousel owl-theme">
            <div class="item">
                <div class="mask"></div>
                <figure>
                    <img src="{{ asset('site/images/banner.png') }}" class="fill-box">
                </figure>
            </div>
        </div>
        <div class="page-content">
            <div class="row grid-section">
                <div class="col-lg-12 text-center">
                    <img src="{{ asset('site/images/premiaton.png') }}" width="400" alt="" class="mb-5">
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-premiaton">
                            <thead>
                            <th width="100" class="text-center">HORA</th>
                            <th>GANADOR(ES)</th>
                            </thead>
                            <tbody>
                            {#{% for premiaton in premiatons %}#}
                                {#<tr>#}
                                    {#<td align="center">{{ premiaton.start_date.format('Y-m-d H:i:j A') }}</td>#}
                                    {#<td>{{ premiaton.code }} ({{ premiaton.name }})</td>#}
                                {#</tr>#}
                            {#{% endfor %}#}
                            <tr>
                                <td align="center">8:00 AM</td>
                                <td>32337 (BEIERSDORF) - 32337 (SANTE)</td>
                            </tr>
                            <tr>
                                <td align="center">9:00 AM</td>
                                <td>32337 (BEIERSDORF) - 32337 (SANTE)</td>
                            </tr>
                            <tr>
                                <td align="center">10:00 AM</td>
                                <td>32337 (BEIERSDORF) - 32337 (SANTE)</td>
                            </tr>
                            <tr>
                                <td align="center">11:00 AM</td>
                                <td>32337 (BEIERSDORF) - 32337 (SANTE)</td>
                            </tr>
                            <tr>
                                <td align="center">12:00 AM</td>
                                <td>32337 (BEIERSDORF) - 32337 (SANTE)</td>
                            </tr>
                            <tr>
                                <td align="center">01:00 PM</td>
                                <td>32337 (BEIERSDORF) - 32337 (SANTE)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% include 'site/includes/footer.html.twig' %}

</div>

{% endblock %}