{% extends 'site/base.html.twig' %}

{% block title %}Proveedores{% endblock %}

{% block body %}
    <div class="modal fade" id="provider-details" tabindex="-1" role="dialog" aria-labelledby="provider-details" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content preview-modal">
                <div class="preview-load">
                    <div class="text-center mt-5">
                        <p class="text-center"><img src="{{ asset('admin/images/icon.png') }}" alt="" width="80"/></p>
                        <p class="center">
                        <h2>Cargando...</h2>
                        </p>
                    </div>
                </div>
                <div class="preview-content hidden">
                    <a href="#" class="close-modal-provider" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <div class="logo">
                        <img class="detail-provider-image" src="" alt="">
                    </div>
                    <a class="detail-provider-zoom" href="#">
                        <div class="zoom">
                            <div class="row n-m">
                                <div class="col-lg-5">
                                    <div class="justify-content-center align-items-center">
                                        <h4>INGRESAR</h4>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="justify-content-center align-items-center">
                                        <ul>
                                            <li class="detail-provider-urlzoom">https://zoom.us/j/xxx</li>
                                            <li class="detail-provider-codezoom">ID REUNIÓN: xxx</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="details">
                        <ul class="text-center">
                            <li class="detail-provider-name">Proveedor: xxx</li>
                            <li class="detail-provider-phone">Contacto: xxx</li>
                        </ul>

                        <div class="images">
                            <ul class="text-center detail-links">
                                <li><a href="#" class="phone"><img src="{{ asset('site/images/phone.png') }}" alt="Teléfono"></a></li>
                                <li><a href="#" class="contact"><img src="{{ asset('site/images/person.png') }}" alt="Email"></a></li>
                                <li><a class="share"><img src="{{ asset('site/images/share.png') }}" alt="Compartir"></a></li>
                            </ul>
                        </div>

                        <ul class="text-center transferreds hidden">
                            <li><strong>Transferencista a nivel nacional:</strong></li>
                            <li class="detail-provider-transfer">xxx xxx xxx - xxx xxx xxx</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="auto_margin providers-section">

        {% include 'site/includes/header.html.twig' %}

        {% include 'site/includes/banner.html.twig' %}

        <div class="search">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h2>Proveedores participantes</h2>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <form action="{{ path('associate_providers') }}" class="search-form" autocomplete="off">
                        <div class="input-group">
                            <input class="form-control py-2 border-right-0 border typeahead" autocomplete="off" value="{{ search }}" type="search" placeholder="Busca por Nombre, Laboratorio o Producto" id="seacrh" name="search">
                            <div class="input-group-append">
                                <button class="input-group-text bg-transparent"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="loader-event">
            <p class="title">Lleve el progreso de su visita en la feria para que no se pierda el stand de ningún proveedor</p>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ percent }}%" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h2 clas="texto">YA VISITÓ {{ history }} de {{ size }} PROVEEDORES</h2>
        </div>
        <div class="page-content">
            {% if(providers) %}
            <div class="row items-provider">
                {% for provider in providers %}
                    <div class="col-lg-3 col-sm-4 col-md-6">
                        {{ provider.offer ? '<i class="icon fa fa-star"></i>' : '' }}
                        <div class="item {{ provider.visited ? 'visited' : '' }}">
                            <div class="logo">
                                <a class="provider_link_{{ provider.event_provider_id }}" data-toggle="modal" data-target="#provider-details" data-provider="{{ provider.event_provider_id }}">
                                    {% if( provider.image != '') %}
                                        <img src="{{ asset('upload/logos/' ~ provider.image) }}" class="img-fluid img-provider" alt="{{ provider.name }}">
                                    {% else %}
                                        <img src="{{ asset('upload/default/no-image.jpg') }}" class="img-fluid img-provider" alt="{{ provider.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            {% if( provider.region != '') %}
                                <div class="tag">
                                    <span class="badge badge-primary"> {{ provider.region??'' }}</span>
                                </div>
                            {% endif %}
                            <div class="item-body">
                                <ul>
                                    <li class="link">
                                        <a class="text-white" href="{{ path('join_zoom', {ev_provider_id : provider.event_provider_id}) }}">{{ 'https://zoom.us/j/' ~ provider.zoom_code }}</a>
                                    </li>
                                    <li class="zoom_id">
                                        <a class="text-white" href="{{ path('join_zoom', {ev_provider_id : provider.event_provider_id}) }}">ID Reunión: {{ provider.zoom_code }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div style=" display:block; text-align:center">
                        </br>
                        <h4 class="texto">No se encuentran coincidencias <strong> </br></br><a href="{{ path('associate_providers') }}"><i class="icon fa fa-undo"></i>&nbsp;&nbsp;Regresar al listado de proveedores participantes</a></strong></h4>

                    </div>
                {% endif %}
            </div>
        </div>
        {% include 'site/includes/footer.html.twig' %}
    </div>

{% endblock %}

{% block script_functions %}
    <script>
        var event_id               = '{{ event_id }}',
            get_providers_name_url = '{{ path('get_providers_name') }}',
            share_provider_url     = '{{ path('associate_providers') }}/',
            share_provider_id      = '{{ ev_provider_id }}'
    </script>
{% endblock %}