<!DOCTYPE html>

<head>
    <title>Vista de Reunión</title>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.1/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.1/css/react-select.css"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="origin-trial" content="">

    {% include 'admin/includes/icon.html.twig' %}

    <style>
        .websdktest {
            display : none !important;
        }
    </style>
</head>

<body>
<div id="navbar" class="websdktest">
    <form class="navbar-form navbar-right" id="meeting_form">
        <div class="form-group">
            <input type="text" name="display_name" id="display_name" value="{{ code }} - {{ name }}" maxLength="100" placeholder="Name" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="meeting_number" id="meeting_number" value="{{ zoom_code }}" maxLength="200" style="width:150px" placeholder="Meeting Number" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="meeting_pwd" id="meeting_pwd" value="{{ zoom_psw }}" style="width:150px" maxLength="32" placeholder="Meeting Password" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="meeting_email" id="meeting_email" value="ingsebasalvarez@gmail.com" style="width:150px" maxLength="32" placeholder="Email option" class="form-control">
        </div>
        <div class="form-group">
            <select id="meeting_role" class="sdk-select">
                <option value=0 selected>Attendee</option>
            </select>
        </div>
        <div class="form-group">
            <select id="meeting_china" class="sdk-select">
                <option value=0 selected>Global</option>
            </select>
        </div>
        <div class="form-group">
            <select id="meeting_lang" class="sdk-select">
                <option value="es-ES" selected>Spanish Español</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" id="join_meeting" onclick="joinZoom()">Join</button>
    </form>
</div>
<script src="https://source.zoom.us/1.9.1/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/1.9.1/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/1.9.1/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/1.9.1/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/1.9.1/lib/vendor/lodash.min.js"></script>
<script src="https://source.zoom.us/zoom-meeting-1.9.1.min.js"></script>

<script src="{{ asset('admin/plugins/vendors/jquery.min.js') }}"></script>
<script src="{{ asset('site/js/modules/zoom/js/tool.js') }}"></script>
<script src="{{ asset('site/js/modules/zoom/js/vconsole.min.js') }}"></script>
<script src="{{ asset('site/js/modules/zoom/js/index.js') }}"></script>


<script>
    $(document).ready(function () {
        localStorage.setItem("DATA_ZOOM_EVENT", "{{ app.session.get('event_id')  }}");
        localStorage.setItem("DATA_ZOOM_CODE", "{{ user_id }}");
        localStorage.setItem("DATA_ZOOM_PROVIDER", "{{ provider_id }}");
        localStorage.setItem("DATA_ZOOM_EVENT_PROVIDER", "{{ ev_provider_id }}");

        var path = window.location.href.includes("/coopidrogas-event/public") ? "/coopidrogas-event/public" : ""
        $.get(path + "/api/provider_zoom/{{ app.session.get('event_id')  }}/{{ provider_id }}/{{ ev_provider_id }}", {})
        $("#join_meeting").trigger("click");
        websdkready();
    })

    const simd = async () => WebAssembly.validate(new Uint8Array([0, 97, 115, 109, 1, 0, 0, 0, 1, 4, 1, 96, 0, 0, 3, 2, 1, 0, 10, 9, 1, 7, 0, 65, 0, 253, 15, 26, 11]))
    simd().then((res) => {
        console.log("simd check", res);
    });
</script>
</body>

</html>