{% extends 'admin/base.html.twig' %}

{% block title %}Contacto Equipo Soporte{% endblock %}

{% block style_tags %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/admin/plugins/libs/datetimepicker/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}

{% block body %}

    {% include 'admin/includes/menu.html.twig' %}

    <div id="content">

        {%  include 'admin/includes/top.html.twig' %}

        <!-- Page content holder -->
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <h2>
                        Información Contacto Soporte
                    </h2>
                    <form action="{{ path('support_save', {'id':reg.id}) }}" method="POST" role="form" class="row form before-unload" autocomplete="off">
                        <div class="form-group col-sm-4">
                            <label>Nombre Completo</label>
                            <input type="text" class="form-control" name="dat[name]" maxlength="100" placeholder="Nombre completo" value="{{ reg.name ?? null }}" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Correo electrónico</label>
                            <input type="email" class="form-control" name="dat[email]"  placeholder="ejemplo@dominio.com" value="{{ reg.email ?? null }}" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Estado</label>
                            <select class="form-control" name="dat[status]" required>
                                <option value="1" {{ reg.status ? 'selected' : '' }}>Activo</option>
                                <option value="0" {{ reg.status ? '' : 'selected' }}>Inactivo</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Teléfono</label>
                            <input type="number" class="form-control" name="dat[phone]" placeholder="Teléfono" value="{{ reg.phone ?? null }}" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Extensión</label>
                            <input type="text" class="form-control" name="dat[ext]" placeholder="Extensión" value="{{ reg.ext ?? null }}">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Celular</label>
                            <input type="number" class="form-control" name="dat[mobile]" placeholder="Celular" value="{{ reg.mobile ?? null }}" required>
                        </div>

                        <div class="form-group col-sm-12 col-md-12">
                            <div class="d-flex align-items-center p-3 my-3 bg-primary rounded shadow-sm">
                                <div class="lh-1">
                                    <h3 class="h6 mb-0 lh-1 text-white font-weight-bold">Horarios de Atención</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <label for="">Hora Inicio</label>
                                        <div class='input-group date times' id='datetimepicker3'>
                                            <input name="dat[start_time]" type='text' class="form-control" value="{{ reg.start_time??'7:00 AM' }}" required/>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="validatedInputGroupPrepend"><i class="fa fa-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                    <label for="">Hora Final</label>
                                    <div class='input-group date times' id='datetimepicker3'>
                                        <input name="dat[end_time]" type='text' class="form-control" value="{{ reg.end_time??'7:00 PM' }}" required/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="validatedInputGroupPrepend"><i class="fa fa-clock"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-12 mb-4 text-center">
                                    <div class="alert alert-dark" role="alert">
                                    {% for day in reg.days %}
                                        <div class="form-check form-check-inline ml-4">
                                            <input name="days[]" class="form-check-input" type="checkbox" {% if reg.daysSelect[day] is defined  %} {{ 'checked' }}{% endif %} value="{{ day }}">
                                            <label class="form-check-label">{{day}}</label>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <button class="btn btn-primary m-t-5 btn-md btn-submit">Guardar Contacto</button>
                            <a href="{{ path('support') }}" class="btn btn-danger m-t-5 btn-md">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_functions %}
    {#<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>#}
    <script type="text/javascript" src="{{ asset('/admin/plugins/libs/moment/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/admin/plugins/libs/datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}