{% extends 'admin/base.html.twig' %}

{% block title %}Ofertas{% endblock %}

{% block body %}
{% include 'admin/includes/menu.html.twig' %}

<div id="content">
    {% include 'admin/includes/top.html.twig' %}
    <!-- Page content holder -->
    <form action="{{ path('offer_save', {'id': reg.id ?? 0}) }}" method="POST" role="form" class="form before-unload" enctype="multipart/form-data">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Información Oferta</h2>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Estado</label>
                            <select class="form-control" name="dat[status]" required>
                                <option value="1" {{ reg.status ? 'selected' : '' }}>Visible</option>
                                <option value="0" {{ reg.status ? '' : 'selected' }}>No visible</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="">Evento</label>
                            <select name="dat[event_id]" id="" class="form-control" onchange="filter_provider(this)" required>
                                <option value="{{ actualData.event_id ? actualData.event_id : '' }}">{{ actualData.title ? actualData.title : 'Seleccione evento'  }}</option>
                                {% for event in events %}
                                <option value="{{ event.id }}">{{event.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="">Nombre Proveedor</label>                                                          
                            <select name="dat[provider_id]" id="selectProvider" class="form-control" required>
                                <option value="{{ actualData.id ? actualData.id : '' }}">{{ actualData.name ? actualData.name : 'Seleccione proveedor'  }}</option>
                            </select>
                         
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="">Oferta</label>
                            <input type="text" class="form-control" name="dat[apply]" placeholder="Oferta" value="{{ reg.apply ?? null }}" required />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="">Descuento</label>
                            <input type="text" class="form-control" name="dat[discount]" value="{{ reg.discount ?? null }}" placeholder="Descuento aplicado" required>
                        </div>
                        {#                         <div class="form-group col-sm-6">
                            <label for="">Imagen oferta</label>
                            <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="file" accept="image/x-png,image/gif,image/jpeg">
                                <label class="custom-file-label" for="file">{{ reg.fileUrl ?? 'Selecciona un archivo' }}</label>
                            </div>
                        </div> #}
                    </div>
                </div>
                <div class="form-group col-sm-12 mt-2">
                    <button type="button" class="btn btn-primary m-t-5  btn-md btn-submit">Guardar Oferta</button>
                    <a href="{{ path('offer_list') }}" class="btn btn-danger m-t-5  btn-md">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block script_functions %}
{% if (reg) %}
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
    var table_settings     = {{datatable_settings(datatable)}},
        del_ctrl           = '{{ path('offer_delete') }}',
        url_offer_provider = '{{ path('offer_provider') }}';
</script>
{% endif %}
{% endblock %}