{% extends 'admin/base.html.twig' %}

{% block title %}Listado de Ofertas{% endblock %}

{% block body %}
    {% include 'admin/includes/menu.html.twig' %}

    <div id="content">
        {% include 'admin/includes/top.html.twig' %}
        <div class="page-content">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Ofertas</h2>
                </div>
                <div class="col-lg-6 text-right">
                    <a href="{{ path('offer_edit',{id:0}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>
                        Nueva oferta</a>&nbsp;
                    <a href="{{ path('offerimport') }}" class="btn btn-sm btn-info"><i class="fa fa-file-import"></i>
                        Importar</a>
                        <a href="{{ path('show_offers_deleted') }}" class="btn btn-sm btn-secondary"><i class="fa fa-eye"></i>
                        Ver inactivos</a>
                </div>

                <div class="col-lg-12">
                    <div class="table-responsive">
                        <div id="datatable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_functions %}
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
    var table_settings = {{ datatable_settings(datatable) }}, del_ctrl = '{{ path('offer_delete') }}'
</script>
{% endblock %}