{% extends 'admin/base.html.twig' %}

{% block title %}Ofertas{% endblock %}

{% block body %}
{% include 'admin/includes/menu.html.twig' %}

<div id="content">
  {% include 'admin/includes/top.html.twig' %}
  <!-- Page content holder -->
  <div class="page-content">
    <div class="row">
      <div class="col-lg-6">
        <h2>Importación de ofertas</h2>
      </div>
      <div class="col-lg-12">
        <div class="alert alert-info">
          Para importar un listado de ofertas realiza los siguientes pasos:
          <ol>
            <li><a href="{{ path('export_sample_offer') }}">Descarga el archivo de muestra aqui</a></li>
            <li>Abrelo e digita las ofertas para el evento.</li>
            <li>Recuerda que debes tener creado un evento y proveedores vinculados, solo debes editar las coLumnas <strong>APLICA</strong> y <strong>DESCUENTO</strong> .
            <li>Guarda el archivo</li>
            <li>Selecciona el archivo en el formato solicitado (.xlsx, .xls y con peso máximo de 5 MB).</li>
            <li>Presiona el botón <strong>Importar Datos</strong>.</li>
            <li>Espera un momento mientras se carga tu información, el proceso puede tardar teniendo en cuenta la
              cantidad de datos importados.</li>
          </ol>
        </div>
        <div class="col-lg-12">
          <form action="#" method="post" enctype="multipart/form-data">
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="file" id="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required />
              <label name="file" class="custom-file-label">Selecciona un archivo en formato .xlsx</label>
              <br />
              <br />
            </div>
            <button class="btn btn-success">Importar Datos</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
{% block ajax %}
<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>

{% endblock %}