{% extends 'admin/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% include 'admin/includes/menu.html.twig' %}

    <div id="content">
        {% include 'admin/includes/top.html.twig' %}
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <h2>
                        {{ title }}:
                        {% if eventName is defined %}
                            <span class="text-black-50">{{ eventName.title }}</span>
                        {% endif %}
                    </h2>
                </div>
                <div class="col-lg-9">
                    <div class="btn-group">
                        <select class="form-control" id="event_id">
                            <option value="">Seleccionar Evento</option>
                            {% for event in events %}
                                <option value="{{ event.id }}">{{ event.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary ml-2" onclick="generate_report()">Generar reporte</button>
                </div>
                {% if eventName is defined %}
                    <div class="col-lg-3 text-right">
                        <a class="btn btn-info" href="{{ path('export_prov_ev_sample_total_general', {id:event_id}) }}"><i class="fa fa-download"></i>&nbsp; Descargar reporte</a>
                    </div>
                {% endif %}
                {% if datatable is defined %}
                    <div class="col-lg-12">
                        <hr>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <div id="datatable">
                                <div class="text-center mt-3">
                                    <p><img src="{{ asset('site/images/spinner.gif') }}" alt="" width="80"></p>
                                    <p>Generando reporte ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script_functions %}
    {% if datatable is defined %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        var table_settings = {{ datatable_settings(datatable) }}
    </script>
    {% endif %}}
    <script>
        var generate_report_url = '{{ path('total_general') }}/'
    </script>
{% endblock %}