// ------------------------------------------------
// Follow
// ------------------------------------------------

$follow_size : 30px;

ul.follow {
  margin   : 0;
  overflow : hidden;
  padding  : 0;
  li {
    float      : left;
    height     : $follow_size;
    list-style : none;
    margin     : 0 2px 0;
    padding    : 0;
    position   : relative;
    &:first-child {
      margin-left : 0;
    }
    &:last-child {
      margin-right : 0;
    }
  }
  span {
    display  : block;
    height   : 0;
    overflow : hidden;
    width    : 0;
  }
  a {
    color           : #000;
    display         : block;
    height          : $follow_size;
    position        : relative;
    text-align      : center;
    text-decoration : none;
    width           : $follow_size;
    -webkit-mask:  url('../images/assets/fill_follow.svg') no-repeat 50% 50%;
    mask: url('../images/assets/fill_follow.svg') no-repeat 50% 50%;
    &:before {
      font        : 14px "FontAwesome";
      @include middle-center();
      @include transition(all 0.5s ease);
    }
    $icons : (
            facebook:   (char: "\f39e", color: #ffffff, light: lighten(#3b5998, 15%)),
            twitter:    (char: "\f099", color: #ffffff, light: lighten(#55acee, 15%)),
            google:     (char: "\f1a0", color: #ffffff, light: lighten(#dd4b39, 15%)),
            instagram:  (char: "\f16d", color: #ffffff, light: lighten(#45668e, 15%)),
            linkedin:   (char: "\f0e1", color: #ffffff, light: lighten(#0977b5, 15%)),
            youtube:    (char: "\f167", color: #ffffff, light: lighten(#d22e34, 15%)),
            whatsapp:   (char: "\f232", color: #ffffff, light: lighten(#25D366, 15%))
    );
    @each $social, $icon in $icons {
      &[title="#{$social}"] {
        background-color : map-get($icon, color);
        @include transition(all 0.3s ease);
        &:hover {
          background-color : map-get($icon, light);
          color : #fff;
        }
        &:before {
          content : map-get($icon, char);
        }
      }
    }
  }
}