{% extends 'admin/base.html.twig' %}

{% block title %}Transferencistas inactivos{% endblock %}

{% block body %}
    {% include 'admin/includes/menu.html.twig' %}

    <div id="content">
        {% include 'admin/includes/top.html.twig' %}
        <!-- Page content holder -->
        <div class="page-content">
            <div class="row">
                <div class="col-lg-6"><h2>Transferencistas Inactivos</h2>
                </div>
                <div class="col-lg-6 text-right">
                         <a href="{{ path('provider_list') }}" class="btn btn-sm btn-secondary"><i class="fa fa-eye"></i>
                    Volver Proveedores</a>&nbsp;
                </div>
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <div id="datatable"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_functions %}
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
    var table_settings = {{ datatable_settings(datatable) }},
    del_ctrl = '{{ path('provider_delete') }}'
</script>
{% endblock %}