{% extends 'admin/base.html.twig' %}

{% block title %}Transferencistas{% endblock %}

{% block body %}
    {% include 'admin/includes/menu.html.twig' %}

    <div id="content">
        {% include 'admin/includes/top.html.twig' %}

        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Información Transferencista</h2>
                    <form action="{{ path('transferrs_save', {'id': transferr.id ?? 0}) }}" method="POST" role="form" class="form row before-unload">
                        <input type="hidden" name="dat[provider_id]" value="{{ provider_id ?? transferr.provider.id }}">

                        <div class="form-group col-sm-6">
                            <label for="">Nombre Transferencista</label>
                            <input type="text" class="form-control" name="dat[transfer]" value="{{ transferr.transfer ?? null }}" placeholder="Nombre Transferencista" required/>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="">Teléfono</label>
                            <input type="number" class="form-control" name="dat[phone]" value="{{ transferr.phone ?? null }}" placeholder="Teléfono"/>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="">Código</label>
                            <input type="text" class="form-control" name="dat[grm4]" placeholder="Código" value="{{ transferr.grm4 ?? null }}" required>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="">División</label>
                            <input type="text" class="form-control" name="dat[divis]" value="{{ transferr.divis ?? null }}" placeholder="División">
                        </div>

                        <div class="form-group col-sm-12 mt-4">
                            <button type="submit" class="btn btn-primary m-t-5  btn-md btn-submit">Guardar Transferencista</button>
                            <a href="{{ path('provider_edit',{'id':provider_id ?? transferr.provider.id}) }}" class="btn btn-info m-t-5  btn-md">Volver al proveedor</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}