$color-one: #c00512;
$color-two: #fed602;
$color-three: #000;

$primary-color: #0070ba;
$secundary-color: #e3ffff;
$degradate-color: rgba(198, 198, 198, 0.22);
$hover-color: #b0bec5;

.light {
  color: #303b3d;
}

.dark {
  color: #fff;
}