{% extends 'admin/base.html.twig' %}

{% block title %}Proveedores{% endblock %}

{% block body %}
    {% include 'admin/includes/menu.html.twig' %}

    <div id="content">

        {% include 'admin/includes/top.html.twig' %}

        <form action="{{ path('provider_save', {'id': reg.id ?? 0}) }}" method="POST" role="form" class="form before-unload" enctype="multipart/form-data">
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Información Proveedor</h2>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="">Nombre Proveedor</label>
                                    <input type="text" class="form-control" name="dat[name]" placeholder="Nombre Proveedor" value="{{ reg.name ?? null }}" required/>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="">Código Proveedor</label>
                                    <input type="text" class="form-control" name="dat[code]" placeholder="Código" value="{{ reg.code ?? null }}" required/>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="">NIT</label>
                                    <input type="text" class="form-control" name="dat[nit]" value="{{ reg.nit ?? null }}" placeholder="Número Identificación Tributario" required>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="">Nombre Representante</label>
                                    <input type="text" class="form-control" name="dat[representant]" placeholder="Nombre Representante" value="{{ reg.representant ?? null }}" required/>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="">Email</label>
                                    <input type="text" class="form-control" name="email" value="{{ reg.email ?? null }}" placeholder="Email" required/>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="">Celular</label>
                                    <input type="text" class="form-control" name="dat[phone]" value="{{ reg.phone ?? null }}" placeholder="Celular"/>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="">Logo Proveedor (300px de ancho x 200px de alto)</label>
                                    <div class="custom-file">
                                        <input type="file" name="file" class="custom-file-input" id="file" accept="image/x-png,image/gif,image/jpeg">
                                        <label class="custom-file-label" for="file">{{ reg.image ?? 'Selecciona un archivo' }}</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-group col-sm-12 mt-2">
                        <button type="submit" class="btn btn-primary m-t-5 btn-md btn-submit">Guardar Proveedor</button>
                        <a href="{{ path('provider_list') }}" class="btn btn-danger m-t-5  btn-md">Cancelar</a>
                    </div>

                    {% if (reg) %}
                        <div class="col-lg-12">
                            <hr>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="mb-0">Listado de Transferencistas</h4>
                        </div>
                        <div class="col-lg-6 text-right">
                            <a href="{{ path('transferrs_edit',{id:0,provider_id:reg.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Nuevo transferencista</a>&nbsp;
                         <a href="{{ path('show_transferrs_deleted') }}" class="btn btn-sm btn-secondary"><i class="fa fa-eye"></i>
                    Ver Inactivos</a>&nbsp;

                        </div>

                        <div class="col-lg-12">
                            <hr>
                        </div>

                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <div id="datatable">
                                    <div class="text-center mt-3">
                                        <p><img src="{{ asset('site/images/spinner.gif') }}" alt="" width="80"></p>
                                        <p>Cargando datos ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block script_functions %}
    {% if (reg) %}
        <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
        <script>
            var table_settings = {{ datatable_settings(datatable) }},
                del_ctrl       = '{{ path('transferrs_delete') }}',
                check_email    = 'Hola';
        </script>
    {% endif %}
    <script>
        var object_id         = '{{ reg.id??0 }}'
            url_verify_email  = '{{ path('check_email_provider') }}'
    </script>
{% endblock %}
