{% extends 'admin/base.html.twig' %}

{% block title %}Proveedores{% endblock %}

{% block body %}
    {% include 'admin/includes/menu.html.twig' %}

    <div id="content">
        {% include 'admin/includes/top.html.twig' %}
        <div class="page-content">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Proveedores</h2>
                </div>
                <div class="col-lg-6 text-right">
                    <a href="{{ path('provider_edit',{id:0}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Nuevo proovedor</a>&nbsp;

                    <div class="dropdown d-inline">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opciones
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('provider_import') }}"><i class="fa fa-file-import"></i>&nbsp; Importar Proveedores</a>
                            {% if(providers) %}
                                <a class="dropdown-item" href="{{ path('transferrs_import') }}"><i class="fa fa-file-import"></i>&nbsp; Importar Transferencistas</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('inactive_provider_list') }}"><i class="fa fa-eye"></i>&nbsp; Ver Inactivos</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <div id="datatable">
                            <div class="text-center mt-3">
                                <p><img src="{{ asset('site/images/spinner.gif') }}" alt="" width="80"></p>
                                <p>Cargando datos ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_functions %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        var table_settings = {{ datatable_settings(datatable) }},
            del_ctrl       = '{{ path('provider_delete') }}'
    </script>
{% endblock %}