{% extends 'admin/base.html.twig' %}

{% block title %}Proveedores{% endblock %}

{% block body %}
{% include 'admin/includes/menu.html.twig' %}

<div id="content">
    {% include 'admin/includes/top.html.twig' %}
    <div class="page-content">
        <div class="row">
            <div class="col-lg-6">
                <h2>Proveedores Inactivos</h2>
            </div>
            <div class="col-lg-6 text-right">
                <a href="{{ path('provider_list') }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>
                    Ver Activos</a>&nbsp;                
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div id="datatable"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_functions %}
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
    var table_settings = {{ datatable_settings(datatable) }},
    del_ctrl = '{{ path('provider_restore') }}'
</script>
{% endblock %}