// ------------------------------------------------
//  Main Menu
// ------------------------------------------------

.flat-mega-menu ul, .flat-mega-menu li, .flat-mega-menu a, .flat-mega-menu p, .flat-mega-menu img, .flat-mega-menu h2 {
  box-sizing      : border-box;
  display         : block;
  line-height     : normal;
  list-style      : none outside none;
  margin          : 0;
  padding         : 0;
  text-decoration : none;
}
.flat-mega-menu {
  display  : block;
  margin   : 0 auto;
  padding  : 0;
  position : relative;
  width    : 100%;
  z-index  : 999;
}
.flat-mega-menu > ul {
  text-align : right;
  width      : 100%;
}
.flat-mega-menu > ul > li {
  color     : #fff;
  display   : inline-block;
  min-width : 2%;
}
.flat-mega-menu > ul > li > a {
  color          : #FFDD27;
  font-size      : 18px;
  font-weight    : 700;
  letter-spacing : 1px;
  line-height    : 60px;
  padding-left   : 14px;
  padding-right  : 14px;
  text-align     : center;
  width          : 100%;
}
.flat-mega-menu > ul > li > a.current {
  color : #fff;
}
.flat-mega-menu > ul > li:hover > a {
  background : none repeat scroll 0 0 #f6f6f6;
  color      : #555;
  transition : background 0.3s linear 0s, color 0.3s linear 0s;
}
.flat-mega-menu .drop-down {
  background    : none repeat scroll 0 0 #f6f6f6;
  border-bottom : 3px solid $color-one;
  float         : left;
  position      : absolute;
  width         : 150px;
  z-index       : 999;
}
.flat-mega-menu .drop-down .drop-down {
  border-top : 1px solid rgba(33, 71, 192, 0.1);
}
.flat-mega-menu .drop-down li {
  float    : left;
  position : relative;
  width    : 100%;
}
.flat-mega-menu .drop-down li a {
  color      : #000;
  font-size  : 13px;
  padding    : 10px 20px 10px 25px;
  text-align : left;
  transition : color 0.2s linear 0s, padding-left 0.2s linear 0s;
}
.flat-mega-menu .drop-down li:hover > a {
  color        : red;
  padding-left : 30px;
}
.flat-mega-menu > ul > li:hover .drop-down {
  display : block;
}
.flat-mega-menu ul li .drop-down li:hover > .drop-down {
  display : block;
}
.flat-mega-menu > ul > li .drop-down.hover-fade {
  display : none;
}
.flat-mega-menu > ul > li:hover > .drop-down.hover-fade, .flat-mega-menu > ul > li .drop-down li:hover > .drop-down.hover-fade {
  animation : 0.3s linear 0s normal forwards 1 hover-fade;
  display   : block;
}
// ------------------------------------------------
//  Search
// ------------------------------------------------

.flat-mega-menu ul .search-bar {
  cursor     : pointer;
  float      : right;
  padding    : 0 6px;
  text-align : center;
  background : $color-one;
}
.flat-mega-menu .search-bar:hover {
  background-color : #f6f6f6;
  color            : $color-one;
  transition       : background 0.3s linear 0s, color 0.3s linear 0s;
}
.flat-mega-menu .search-bar ul {
  padding  : 12px 0;
  position : absolute;
  right    : 0;
  width    : 50%;
}
.flat-mega-menu .search-bar table, .flat-mega-menu .mdi-magnify tbody {
  width : 100%;
}
.flat-mega-menu .search-bar i {
  line-height : 50px;
  font-size   : 22px;
  padding     : 0 10px;
}
.flat-mega-menu .search-bar table tr td:last-child {
  width : 120px;
}
.flat-mega-menu .search-bar ul input[type="text"] {
  background-color          : #fff;
  border-color              : -moz-use-text-color rgba(0, 0, 0, 0);
  border-image              : none;
  border-style              : none solid;
  border-width              : 0 10px 0 0px;
  box-shadow                : 0 0 2px 0 rgba(0, 0, 0, 0.55) inset;
  box-sizing                : border-box;
  color                     : #000;
  float                     : left;
  height                    : 40px;
  margin-left               : 12px;
  outline                   : 0 none;
  padding                   : 10px;
  width                     : 100%;
  -moz-border-bottom-colors : none;
  -moz-border-left-colors   : none;
  -moz-border-right-colors  : none;
  -moz-border-top-colors    : none;
}
.flat-mega-menu .search-bar ul input[type="submit"] {
  background  : none repeat scroll 0 0 $color-two;
  border      : 1px solid rgba(0, 0, 0, 0.15);
  box-shadow  : 0.5px 0.866px 0 0 rgba(255, 248, 68, 0.106) inset;
  color       : #fff;
  cursor      : pointer;
  float       : left;
  font-size   : 0.9em;
  font-weight : 700;
  height      : 40px;
  outline     : 0 none;
  width       : 85%;
}
.flat-mega-menu .search-bar ul input[type="submit"]:hover {
  outline : 0 none;
}
@keyframes hover-fade {
  0% {
    opacity : 0;
  }
  100% {
    opacity : 1;
  }
}
@keyframes hover-fade {
  0% {
    opacity : 0;
  }
  100% {
    opacity : 1;
  }
}
.flat-mega-menu > ul > li .drop-down.hover-zoom {
  display : none;
}
.flat-mega-menu > ul > li:hover > .drop-down.hover-zoom, .flat-mega-menu > ul > li .drop-down li:hover > .drop-down.hover-zoom {
  animation : 0.2s linear 0s normal forwards 1 hover-zoom;
  display   : block;
}
@keyframes hover-zoom {
  0% {
    opacity   : 0;
    transform : scale(0.8, 0.8);
  }
  100% {
    opacity   : 1;
    transform : scale(1, 1);
  }
}
@keyframes hover-zoom {
  0% {
    opacity   : 0;
    transform : scale(0.8, 0.8);
  }
  100% {
    opacity   : 1;
    transform : scale(1, 1);
  }
}
.flat-mega-menu > ul > li .drop-down.hover-expand {
  display : none;
}
.flat-mega-menu > ul > li:hover > .drop-down.hover-expand, .flat-mega-menu > ul > li .drop-down li:hover > .drop-down.hover-expand {
  animation : 0.2s linear 0s normal forwards 1 hover-expand;
  display   : block;
}
@keyframes hover-expand {
  0% {
    opacity   : 0;
    transform : rotateY(90deg);
  }
  100% {
    opacity   : 1;
    transform : rotateY(0deg);
  }
}
@keyframes hover-expand {
  0% {
    opacity   : 0;
    transform : rotateY(90deg);
  }
  100% {
    opacity   : 1;
    transform : rotateY(0deg);
  }
}
.flat-mega-menu .drop-down li i {
  bottom   : 0;
  color    : #555658;
  height   : 16px;
  margin   : auto;
  position : absolute;
  right    : 20px;
  top      : 0;
  z-index  : 999;
}
.flat-mega-menu .drop-down .drop-down {
  left  : 100%;
  top   : -10px;
  width : 150px;
}
.flat-mega-menu .drop-down.one-column {
  width : 230px;
}
.flat-mega-menu .drop-down .drop-down.one-column {
  width : 200px;
}
.flat-mega-menu .drop-down.two-column {
  width : 322px;
}
.flat-mega-menu .drop-down.two-column ul {
  float   : left;
  margin  : 0;
  padding : 0;
  width   : 160px;
}
.flat-mega-menu .drop-down.full-width {
  box-sizing  : border-box;
  left        : 0;
  margin-left : 0;
  width       : 100%;
}
.flat-mega-menu .drop-down.full-width ul {
  cursor : default;
  float  : left;
  width  : 25%;
}
.flat-mega-menu .drop-down.full-width ul li {
  float   : left;
  margin  : 0;
  padding : 6px 0 6px 3px;
  width   : 100%;
}
.flat-mega-menu .drop-down.full-width ul li a {
  border     : 0 none;
  float      : left;
  margin     : 0 10%;
  padding    : 0;
  transition : text-indent 0.2s linear 0s;
}
.flat-mega-menu .drop-down.full-width ul li:hover a {
  text-indent : 5px;
}
.flat-mega-menu .drop-down.full-width ul li p {
  clear     : both;
  color     : #949598;
  float     : left;
  font-size : 0.9em;
  margin    : 0;
  padding   : 10px 10px 10px 11%;
  width     : 100%;
}
.flat-mega-menu .drop-down.social-bar {
  width : 200px;
}
.flat-mega-menu hr {
  display : block;
  margin  : 0;
  padding : 0;
}
.flat-mega-menu h2 {
  color       : #3a63b8;
  font-size   : 1.2em;
  font-weight : normal;
  margin      : 0;
  padding     : 5px 5px 5px 10%;
}
.flat-mega-menu .social-bar {
  position : relative;
}
.flat-mega-menu .social-bar ul {
  background-color : #fff;
  border-bottom    : 3px solid #2888d2;
  padding          : 10px;
  position         : absolute;
  right            : 0;
  width            : 262px;
}
.flat-mega-menu .social-bar ul li {
  float   : left;
  height  : 40px;
  margin  : 10px;
  padding : 0;
  width   : 40px;
}
.flat-mega-menu .social-bar ul a {
  display  : block;
  height   : 40px;
  margin   : 0;
  padding  : 0;
  position : relative;
  width    : 40px;
}
.flat-mega-menu .social-bar ul a i {
  background-image : linear-gradient(0deg, rgba(233, 233, 233, 1) 0px, rgba(233, 233, 233, 1) 100%);
  border           : 1px solid rgba(0, 0, 0, 0.1);
  border-radius    : 4px;
  color            : #797979;
  font-size        : 1.3em;
  height           : 40px;
  left             : 0;
  line-height      : 40px;
  margin           : 0;
  padding          : 0;
  position         : absolute;
  text-align       : center;
  top              : 0;
  width            : 40px;
}
.flat-mega-menu .social-bar ul a:hover i {
  background : none repeat scroll 0 0 #c7c7c7;
  color      : #000;
}
.flat-mega-menu > label, .flat-mega-menu > input {
  display : none;
}
@keyframes hover-fade {
  0% {
    opacity : 0;
  }
  100% {
    opacity : 1;
  }
}
@keyframes hover-fade {
  0% {
    opacity : 0;
  }
  100% {
    opacity : 1;
  }
}
