// ------------------------------------------------
//  Bootstrap touchpin
// ------------------------------------------------
.group_cant {
  display : block;
  .input-group-btn {
    border      : 0 solid #fff;
    font-weight : 700;
  }
  .form-control {
    font-weight : 700;
    text-align  : center;
  }
  .btn-default {
    background    : #fff;
    border-radius : 0;
  }
  .bootstrap-touchspin-down {
    border-radius : 2px 0 0 2px;
    color         : #999;
    font-weight   : 700;
  }
  .bootstrap-touchspin-up {
    border-radius : 0 2px 2px 0;
    color         : #999;
    font-weight   : 700;
  }
}