// Mobile Menu

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 800px) {
  .container-fluid {
    padding: 0 20px;
  }
  .slicknav_menu {
    display: block;
  }
  .topMenu {
    display: none;
  }
  .areaHeader {
    .topBar {
      border-bottom: 0;
    }
  }
}

@media screen and (max-width: 640px) {

  .items-provider {
    h2 {
      color: #4055e3;
      font-weight: 700;
      text-align: center;
      line-height: 1;
      margin-bottom: 20px;
    }

    .m-b-50 {
      margin-bottom: 30px;
    }
  }

  .top-menu {
    a {
      font-size: 12px;
    }
  }

  .nav {
    display: flex;
    align-items: center;

    .nav-items {
      padding-right: 0px;

      a {
        font-size: 20px !important;

      }
    }
  }

  .fc-event .fc-event-main {
    padding: 5px !important;
  }

  .home-button {
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
  }

  .providers-section{
    .search{
      h2{
        font-size: 26px;
      }
      .input-group{
        flex-wrap: nowrap;
      }
    }
  }
}


@media screen and (max-width: 768px) {

  .footer {
    text-align: center;
  }
  .logo {
    text-align: center;
  }

  .nav-items {
    margin-bottom: 20px;
  }

  .grid-section {
    padding: 20px 20px;
  }

  #sidebarCollapse {
    display: block;
    left: 20px;
  }

  #sidebar {
    margin-left: -19rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content, .page-content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 19rem;
    width: calc(100% - 19rem);
  }

  .login-form {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(254, 227, 56, 1) 0%, rgba(237, 143, 24, 1) 100%) !important;
    height: 100%;
    overflow: hidden;

    .login-colum {
      padding: 0;

      .login-box {
        padding: 20px;
      }
    }

    #login-row {
      background-image: url(../images/home-responsive.png) !important;
      background-position: 0px 3%;
      background-size: contain;
      height: 100%;
    }

    .title {
      background: #1c3155;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 35px;
      margin-top: 35px;

      h2 {
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin: 0;
      }
    }

    .login-box {
      margin-top: 35%;
      padding: 50px;

      input {
        height: 60px;
        outline: none;
        font-size: 20px;
        border-radius: 10px;
        text-align: center;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .preview-modal .zoom {
    padding-bottom: 7px;
    background-repeat : round;
    background-size   : cover;
    h4{
      text-align: center;
      margin-left: 0px;
    }

    .detail-provider-urlzoom, .detail-provider-codezoom{
      text-align: center;
    }
  }
}

@media only screen and (max-width: 375px){

  .providers-section{
    .search{
      h2 {
        font-size: 26px;
      }
      .input-group{
        flex-wrap: nowrap;
      }
    }
  }
}


@media only screen and (max-width: 375px) and (max-height: 569px){

  .login-form {
    h2{
      font-size: 16px !important;
    }
    .title{
      margin-bottom: 10px;
      margin-top: 40%;
    }

    .login-box {
      margin-top: 65px;
      padding: 36px;

      input {
        height: 60px;
        outline: none;
        font-size: 20px;
        border-radius: 10px;
        text-align: center;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .providers-section{
    .search{
      h2 {
        text-align: center;
        font-size: 22px;
      }
      .input-group{
        flex-wrap: nowrap;
      }
    }
  }

  .preview-modal .zoom {
    background-repeat : round !important;
    background-size   : initial !important;
    padding-bottom: 7px;

    h4{
      margin-left: 0px;
      text-align: center;
    }

    .detail-provider-urlzoom, .detail-provider-codezoom{
      text-align: center;
    }
  }
}


@media only screen and (max-width: 375px) and (min-height: 570px){

  .login-form {

    h2{
      font-size: 18px !important;
    }
    .title{
      margin-bottom: 14px;
      margin-top: 55px;
    }

    .login-box {
      margin-top: 115px;
      padding: 60px;

      input {
        height: 60px;
        outline: none;
        font-size: 20px;
        border-radius: 10px;
        text-align: center;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .providers-section{
    .search{
      h2 {
        text-align: center;
        font-size: 22px;
      }
      .input-group{
        flex-wrap: nowrap;
      }
    }
  }

  .preview-modal .zoom {
    padding-bottom: 7px;
    background-repeat : round;
    background-size   : cover;
    h4{
      text-align: center;
      margin-left: 0px;
    }

    .detail-provider-urlzoom, .detail-provider-codezoom{
      text-align: center;
    }
  }
}

@media screen and (max-width: 1440px) {
  .login-form .login-box {
    margin-top: 32%;
  }
}