{% extends 'admin/base.html.twig' %}

{% block title %}Incentivo Proveedores{% endblock %}

{% block body %}
{% include 'admin/includes/menu.html.twig' %}

<div id="content">
    {% include 'admin/includes/top.html.twig' %}
    <div class="page-content">
        <div class="row">
            <div class="col-lg-6">
                <h2>Lista de Ganadores</h2>
            </div>
            <div class="col-lg-8 text-right">
                <a href="{{ path('winners_provider_edit',{id:0}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>
                    Nuevo Ganador</a>&nbsp;          
                    <a href="{{ path('import_winners_provider') }}" class="btn btn-sm btn-info" disabled><i class="fa fa-file-import"></i>
                    Importar Ganadores</a>
                  
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div id="datatable"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_functions %}
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
    var table_settings = {{ datatable_settings(datatable) }},
    del_ctrl = '{{ path('winners_provider_delete') }}'
</script>
{% endblock %}