{% extends 'admin/base.html.twig' %}

{% block title %}Administración de Banners{% endblock %}

{% block body %}
    {% include 'admin/includes/menu.html.twig' %}
    <div id="content">
        {% include 'admin/includes/top.html.twig' %}
        <div class="page-content">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Banners</h2>
                </div>
                <div class="col-lg-12">
                    <form action="" enctype="multipart/form-data" method="POST">
                        <input type="hidden" name="banner_id">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="dropzone dropzone-slide"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <ul class="sortable sortable-image" id="sortable_slide">
                                    {% for image in images %}
                                        <li id="image_{{ image.id }}" data-id="{{ image.id }}">
                                            <div class="ImageWrapper chrome-fix">
                                                <div class="caption-file">
                                                    <div class="center">
                                                        <div class="content">

                                                        </div>
                                                    </div>
                                                </div>
                                                <img src="{{ asset("/upload/banner/s"~image.filename) }}" class="img-responsive" width="150" height="auto">
                                                <div class="ImageOverlayH"></div>
                                                <div class="Buttons CStyleC">
                                                    <span class="WhiteRounded"><a onclick="editImg({{ image.id }})"><i class="fa fa-pencil sinister icon"></i></a></span>
                                                    <span class="WhiteRounded"><a href="{{ asset("/upload/banner/b"~image.filename) }}" title="{{ image.description }}" class="popup-gallery"><i class="fa fa-search sinister icon"></i></a></span>
                                                    <span class="WhiteRounded"><a onclick="deleteImg({{ image.id }})"><i class="fa fa-trash sinister sinister-delete icon"></i></a></span>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="form-group col-sm-12 mt-2">
                                <button type="submit" class="btn btn-primary m-t-5  btn-md">Guardar</button>
                                <a href="{{ path('provider_list') }}" class="btn btn-danger m-t-5  btn-md">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_variables %}
    <script>
        var message         = '{{ message or NULL }}',
            upload_url      = '{{ asset('upload') }}/',
            banner_id       = '{{ banner_id }}',
            url_edit        = '{{ path('banner_edit_file') }}',
            url_update      = '{{ path('banner_update_file') }}/',
            url_sort        = '{{ path('banner_sort') }}',
            url_get_file    = '{{ path('banner_get_file') }}/',
            url_upload_file = '{{ path('banner_upload') }}/',
            url_delete_file = '{{ path('banner_delete_file') }}/'
    </script>
{% endblock %}