$color-one: #c00512;
$color-two: #fed602;
$color-three: #000;

$primary-color: #1C3155;
$secundary-color: #e3ffff;
$degradate-color: rgba(198, 198, 198, 0.22);
$hover-color: #b0bec5;

.light {
  color: #303b3d;
}

.dark {
  color: #fff;
}

.table.table-bordered > {
  thead > tr > th {
    color: $primary-color;
    border: 1px solid $primary-color;
  }

  tbody > tr > td {
    border: 1px solid $primary-color;
  }
}