.section-contact {

  .card {
    background: #f9f9f9;
    margin-bottom: 15px;
    height: 237px;


    .card-title {
      font-family: "Fira Sans";
    }
    
    .email {
      a {
        color: #7e7e7e;
        font-size: 1rem;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 30px;

      li {
        color: #4e4e4e;
        margin-bottom: 10px;
        font-size: 1rem;
        vertical-align: middle;
        display: flex;
        font-family: "Fira Sans";

        span {
          display: inline-block;
          min-width: 50px;
          text-align: center;

          &.hour {
            width: 58%;
          }

          i {
            color: #4e4e4e;
          }
        }
      }
    }
  }
}