.event-section {
  .loader-event {
    background: #D31A1A;
    padding: 30px;

    h1 {
      font-family: "Fira Sans";
      margin-top: 0;
      color: #FFF;
      margin-bottom: 0;
      font-weight: 900;
      text-align: center;
    }
  }

  .slide{
    margin-bottom: -9px;
  }
}

