.grid-section {
  padding: 40px 50px;

  a {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  .home-button {
    background: #1C3155;
    box-shadow: 13px 11px 29px -16px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 13px 11px 29px -16px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 13px 11px 29px -16px rgba(0, 0, 0, 0.67);
    padding: 60px 20px;
    border-radius: 20px;
    text-align: center;
    transition: 0.2s;

    &:hover {
      background: #f61313;
      transition: 0.2s;
    }

    h2 {
      color: #FFF;
    }
  }
}

.table-offer {
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%
  }

  table tr th,
  table tr td {
    border-right: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    border-top: 1px solid $primary-color;
    padding: 10px;
  }

  table tr th:first-child, table tr th:last-child {
    border-top: solid 1px $primary-color;
  }

  table tr th:first-child,
  table tr td:first-child {
    border-left: 1px solid $primary-color;

  }

  table tr th:first-child,
  table tr td:first-child {
    border-left: 1px solid $primary-color;
  }

  table tr th {
    background: #f4f4f4;
    text-align: left;
  }

  table.Info tr th,
  table.Info tr:first-child td {
    border-top: 1px solid $primary-color;
  }

  table tr:first-child th:first-child,
  table.Info tr:first-child td:first-child {
    border-top-left-radius: 6px;
  }

  table tr:first-child th:last-child,
  table.Info tr:first-child td:last-child {
    border-top-right-radius: 6px;
  }

  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
}