html {
  height: 100%;
}

.flags {
  position: absolute;
  top: -80px;
  right: -60px;
  width: 60%;
}

.login-form {
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(254, 227, 56, 1) 0%, rgba(237, 143, 24, 1) 100%) !important;
  height: 100%;
  overflow: hidden;

  #login-row {
    background-image: url('../images/home.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 50%;
    height: 100%;
  }

  h2 {
    color: #FFF;
    margin-top: 35px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Fira Sans';
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .login-box {
    margin-top: 25%;
    padding: 50px;

    input {
      height: 60px;
      outline: none;
      font-size: 20px;
      border-radius: 10px;
      text-align: center;

      &:focus {
        outline: none;
      }
    }
  }

  .btn-login {
    margin-top: 20px;
    box-shadow: 4px 3px 14px -6px #000000;
    background-color: #e63e3e;
    border-radius: 13px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 30px;
    text-decoration: none;

    &:hover {
      background-color: #c23232;
    }
  }

}