.table-offer.table-bordered > {
  thead > tr > th {
    color: $primary-color;
    border: 1px solid $primary-color;
    text-align: center;
    vertical-align: middle;
    font-weight: 900;
    font-family: "Fira Sans";
    font-size: 20px;
  }

  tbody > tr > td {
    color: #5d5d5d;
    border: 1px solid $primary-color;
    vertical-align: middle;
    text-align: center;
  }
}