.providers-section {
  .search {
    padding: 30px 30px 20px;
    background: #fff;

    h2 {
      color: #1C3155;
      font-weight: 900;
      font-family: 'Fira Sans';
    }

    .search-form {
      width: 100%;

      input {
        border-radius: 20px 0 0 20px;
        outline: none;

        &:focus {
          outline: none;
        }
      }

      .input-group-text {
        border-radius: 0 20px 20px 0;
      }
    }
  }

  .loader-event {
    background: #D31A1A;
    padding: 30px;

    p {
      margin: 0;
      color: #FFFFFF;
      text-align: center;
      font-style: italic;
      margin-bottom: 10px;
      font-size: 18px;
    }

    .progress {
      height: 30px;
      border: 1px solid #fff;
      border-radius: 20px;
      background: #d31a1a;
    }

    h2 {
      color: #FFFFFF;
      margin-bottom: 0;
      font-weight: 900;
      text-align: center;
      margin-top: 10px;
      font-family: 'Fira Sans';
    }
  }

  .items-provider {

    .icon {
      position: absolute;
      top: 10px;
      right: 20px;
      color: #ffb734;
      font-size: 30px;
      z-index: 1;
    }

    .item {
      box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.26);
      border-radius: 10px 10px 0 0;
      margin-bottom: 20px;
      cursor: pointer;

      &.visited {
        opacity: 0.6;
      }

      .logo {
        padding: 10px;
        text-align: center;
      }

      .tag {
        position: absolute;
        top:10px;
        font-weight: 600;
        width: 100%;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          color: #fff;
          padding: 5px;
          font-size: 12px;
          text-align: center;
        }

        .link {
          background: #2e2f2d;
        }

        .zoom_id {
          background: #d31a1a;
        }
      }
    }
  }
}

.preview-modal {
  border-radius: 30px;
  padding-bottom: 30px;

  .logo {
    margin-top: 20px;
    text-align: center;
  }

  a {
    font-family: "Fira Sans";

    &:hover {
      text-decoration: none;
    }
  }

  .zoom {
    background: url("../images/buttons.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px;
    height: 75px;
    color: #FFFFFF;
    display: flex;
    align-items: center;

    .row {
      width: 100%;
    }

    h4 {
      margin-bottom: 0;
      margin-top: 10px;
      margin-left: 20px;
    }

    ul {
      padding-left: 0;
      list-style: none;
      margin-bottom: 0;
      margin-left: -10px;

      li {
      }
    }
  }

  .details {
    ul {
      padding-left: 0 !important;
      list-style: none;

      li {
        color: #1C3155;
        font-family: "Fira Sans";
      }
    }

    a {
      cursor: pointer;
    }

    .images {
      ul {
        list-style: none;

        li {
          text-align: center;
          display: inline-block;
          margin: 0 15px;
        }
      }
    }
  }

  .preview-load {
    h2 {
      font-family: "Fira Sans";
    }
  }
}

.twitter-typeahead {
  width: 90%;
}

.typeahead, .tt-query, .tt-hint {
  width: 100%;
}

.typeahead {
  background-color: #FFFFFF;

  &:focus {
    border: 2px solid #0083e3;
  }
}

.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
  color: #999999;
}

.tt-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 8px 0;
  width: 422px;
}

.tt-suggestion {
  padding: 3px 20px;

  &:hover {
    cursor: pointer;
    background-color: #0083e3;
    color: #FFFFFF;
  }

  p {
    margin: 0;
  }
}

button.input-group-text {
  &:focus {
    border: 1px solid #d6d6d6;
    outline: none;
  }
}