.footer {
  background: #1C3155;
  color: #fff;
  padding: 20px;

  a {
    color: #fff;
    font-size: 15px;
    padding: 0 10px;
    vertical-align: middle;
    font-weight: 700;
    font-family: "Fira Sans";
  }

  .logo {
    margin-right: 20px;
  }
}