.menu {
  background: #FFFFFF;

  .logo {
    padding: 20px 50px;
  }

  .nav {
    display: flex;
    align-items: center;
    height: 100%;

    .nav-items {
      padding-right: 30px;

      a {
        font-family: "Fira Sans";
        font-size: 30px;
        color: #1C3155;
        font-weight: 900;
        margin-right: 20px;

        &:hover {
          text-decoration: none;
          color: #d31a1a
        }
      }
    }
  }

}