<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% include 'admin/includes/icon.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{% block title %}Bienvenido!{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('admin/css/style.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('admin/css/fonts.min.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
    {% block style_tags %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
{% endblock %}

<script>
    var message       = '{{ message ?? null }}',
        admin_logout  = '{{ path('admin_logout') }}';
</script>
{% block script_variables %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/js/vendor.min.js') }}"></script>
    <script src="{{ asset('admin/js/scripts.min.js') }}"></script>
{% endblock %}

{% block script_functions %}{% endblock %}

</body>
</html>
