{% extends 'admin/base.html.twig' %}

{% block title %}Incentivo Proveedores{% endblock %}

{% block body %}
{% include 'admin/includes/menu.html.twig' %}
<div id="content">
    {% include 'admin/includes/top.html.twig' %}

    <form action="{{ path('incentive_save', {'id': reg[0].id ?? 0}) }}" method="POST" role="form" enctype="multipart/form-data">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Información Incentivo</h2>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="">Eventos Activos</label>
                            <select class="form-control" name="dat[event_id]">
                                <option value="{{ reg[0].id ?? 0 }}" selected>{{ reg[0].title ?? 'Escoja un evento' }}</option>
                                {% if (events|length > 1) %}
                                {% for event in events %}
                                <option value="{{ event.id }}">{{ event.title }}</option>
                                {% endfor %}
                                {% endif %}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Proveedores Activos</label>
                            <select class="form-control" name="dat[provider_id]">
                                <option value="{{ reg[0].id ?? 0 }}" selected>{{ reg[0].name ?? 'Escoja un proveedor' }}</option>
                                {% if (providers|length > 1) %}
                                {% for provider in providers %}
                                <option value="{{ provider.id }}">{{ provider.name }}</option>
                                {% endfor %}
                                {% endif %}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Logo Incentivo</label>
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" id="file" accept="image/x-png,image/gif,image/jpeg">
                                <label class="custom-file-label" for="file">{{ reg[0].logo ?? 'Selecciona un archivo' }}</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Fecha y Hora</label>
                            <input type="datetime-local" class="form-control" name="dat[start_date]" value="{{ reg[0]["start_date"] ?? null }}" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-12 mt-2">
                    <button type="submit" class="btn btn-primary m-t-5  btn-md">Guardar Incentivo</button>
                    <a href="{{ path('incentive_index') }}" class="btn btn-danger m-t-5  btn-md">Cancelar</a>
                </div>
                {% if (reg) %}
                <div class="col-lg-12">
                    <hr>
                </div>
                <div class="col-lg-6">
                    <h4 class="mb-0">Listado de Ganadores</h4>
                </div>
                <div class="col-lg-6 text-right">
                    <a href="{{ path('winners_provider_edit',{id:0,incentive_id:reg[0].id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Nuevo Ganador</a>&nbsp;
                    <a href="{{ path('import_winners_provider')}}" class="btn btn-sm btn-info"><i class="fa fa-file-import"></i> Importar Ganadores</a>
                </div>

                <div class="col-lg-12">
                    <hr>
                </div>

                <div class="col-lg-12">
                    <div class="table-responsive">
                        <div id="datatable"></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>

</div>

{% endblock %}
{% block script_functions %}
{% if (reg) %}
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
    var table_settings = {{datatable_settings(datatable)}},
        del_ctrl = '{{ path('incentive_delete')}}'
</script>
{% endif %}
{% endblock %}