{% extends 'admin/base.html.twig' %}

{% block title %}Incentivo Proveedores{% endblock %}

{% block body %}
    {% include 'admin/includes/menu.html.twig' %}

<div id="content">
    {% include 'admin/includes/top.html.twig' %}
    <div class="page-content">        
            <div class="row">
            <div class="col-lg-6">
                <h2>Incentivo Proveedores</h2>
            </div>
            <div class="col-lg-6 text-right">
                <a href="{{ path('incentive_edit',{id:0}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>
                    Nuevo Incentivo</a>&nbsp;
                <a href="{{ path('incentive_import') }}" class="btn btn-sm btn-info"><i class="fa fa-file-import"></i>
                    Importar Incentivo</a>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div id="datatable">
                        <div class="text-center mt-3">
                            <p><img src="{{ asset('site/images/spinner.gif') }}" alt="" width="80"></p>
                            <p>Cargando datos ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          </div>
{% endblock %}

{% block script_functions %}
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
    var table_settings = {{datatable_settings(datatable)}},
        del_ctrl = '{{path('incentive_delete')}}'
</script>
{% endblock %}
