//colors
$color_0 : rgba(255, 255, 255, 0.75);
$color_btn : $color-one;
$color_text : #fff;
$color_shadow : #000;
$color_bg : $color-one;
$color_hover_bg : #000;
$color_hover_text : #fffcb0;

.slicknav_menu {
  background : $color_bg;
  box-sizing : border-box;
  font-size  : 16px;
  padding    : 5px;
  * {
    box-sizing : border-box;
  }
  .slicknav_menutxt {
    color       : $color_text;
    font-weight : bold;
    text-shadow : 0 1px 3px $color_shadow;
  }
  .slicknav_icon-bar {
    background-color : $color_text;
  }
}
.slicknav_btn {
  background-color      : $color_btn;
  border-radius         : 4px;
  -moz-border-radius    : 4px;
  -webkit-border-radius : 4px;
  margin                : 5px 5px 6px;
  text-decoration       : none;
  text-shadow           : 0 1px 1px $color_0;
}
.slicknav_nav {
  color      : $color_text;
  font-size  : 0.875em;
  list-style : none;
  margin     : 0;
  overflow   : hidden;
  padding    : 0;
  ul {
    list-style : none;
    margin     : 0 0 0 20px;
    overflow   : hidden;
    padding    : 0;
  }
  .slicknav_row {
    margin  : 2px 5px;
    padding : 5px 10px;
    &:hover {
      color                 : $color_text;
    }
  }
  a {
    color           : $color_text;
    margin          : 2px 5px;
    padding         : 5px 10px;
    text-decoration : none;
    &:hover {
      color                 : $color_hover_text;
    }
  }
  .slicknav_txtnode {
    margin-left : 15px;
  }
  .slicknav_item a {
    margin  : 0;
    padding : 0;
  }
  .slicknav_parent-link a {
    margin  : 0;
    padding : 0;
  }
}
.slicknav_brand {
  color       : $color_text;
  font-size   : 18px;
  height      : 44px;
  line-height : 30px;
  padding     : 7px 12px;
}
.slicknav_menu {
  ul {
    margin  : 0;
    padding : 0 0 10px;
    li {
      font-size : rem(18);
    }
    ul {
      margin  : 0;
      padding : 0 10px;
      li {
        background-size : 3px 3px;
        font-size       : rem(14);
        position   : relative;
        &:before {
          background : #fff;
          content    : "";
          height     : 3px;
          left       : 5px;
          margin-top : -1.5px;
          position   : absolute;
          top        : 50%;
          width      : 3px;
        }
      }
    }
  }
}