// ------------------------------------------------
//  Dotts Remove
// ------------------------------------------------
body {
  background: url('../images/bg.png');
  background-size: cover;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
}

a:active {
  outline: none !important;
}

a:focus {
  -moz-outline-style: none !important;
}

a, a:active, a:focus {
  outline: none !important;
}

// ------------------------------------------------
//  html General
// ------------------------------------------------

/*
  2px = 0.125rem
  4px = 0.25rem
  6px = 0.375rem
  8px = 0.5rem
  9px = 0.5625rem
  10px = 0.625rem
  11px = 0.6875rem
  12px = 0.75rem
  13px = 0.8125rem
  14px = 0.875rem
  16px = 1rem (base)
  18px = 1.125rem
  20px = 1.25rem
  22px = 1.375rem
  24px = 1.5rem
  26px = 1.625rem
  28px = 1.75rem
  30px = 1.875rem
  32px = 2rem
  34px = 2.125rem
  36px = 2.25rem
  38px = 2.375rem
  40px = 2.5rem
*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

figure {
  margin: 0;
  padding: 0;
}

.btn {
  font-family: "Fira Sans";
}

strong {
  font-weight: 700;
}

// Margin

.auto_margin {
  margin: auto;
  max-width: 1060px;
}

.full-width {
  width: 100%;
}

// Custom heights

$i: 50;
@while $i > 0 {
  .height_#{$i} {
    height: $i - 5+5px;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
  }
  $i: $i - 5;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.page-content {
  background: #ffffff;
  padding: 20px 30px;

  h1, h2 {
    color: $primary-color;
    font-weight: 700;
    font-family: 'Fira Sans';
  }
}

.m-b-50 {
  margin-bottom: 50px;
}

.n-m {
  margin: 0 !important;
}

.n-p-r {
  padding-right: 0 !important;
}

.owl_slider {
  background: #FFF;
}

.text-center {
  text-align: center;
}

.img-provider {
  width: auto;
  height: 150px !important;
}

.spinner {
  position: fixed;
  top: 45%;
  left: 50%;
  text-align: center;
  z-index: 1000;
  width: 10px;
  height: 10px;
}

.slide {
  margin-bottom: -10px !important;
}

.hidden {
  display: none !important;
}

.close-modal-provider {
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 25px;
  color: #000;
}

.table-transfers {
  margin: 10px auto 0;
  width: 50%;

  tr {
    td {
      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}