// ------------------------------------------------
//  error 404
// ------------------------------------------------

.area-error {
  max-width         : 800px;
  margin            : auto;
  padding           : 20px;
  text-align        : center;
  position          : absolute;
  -webkit-transform : translate(-50%, -50%);
  -moz-transform    : translate(-50%, -50%);
  transform         : translate(-50%, -50%);
  left              : 50%;
  top               : 50%;
  h1 {
    margin      : 5px 0 0;
    padding     : 0;
    font-size   : 250px;
    font-weight : 700;
    line-height : 250px;
  }
  p {
    font-size      : 16px;
    letter-spacing : 1px;
    font-family    : 'Monaco', sans-serif;
  }
  a {
    color          : #2ea2db;
    font-weight    : 700;
    letter-spacing : 1px;
  }
}
