html {
  height: 100%;
}

.login-form {
  background: url('../images/login-form-bg.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h3 {
    color: #FFF;
    margin-top: 40px;
    font-family: 'Metronic Pro';
  }

  h2 {
    margin-bottom: 40px;
    font-family: 'Metronic Pro';
  }

  .logo-element {
    margin-top: 50%;
  }

  .login-box {
    margin-top: 50%;
    background: #fff;
    padding: 50px;
    border-radius: 20px;

    input[type='text'] {
      background: url('../images/avatar.svg') no-repeat;
      background-size: 20px;
      background-position: 5%;
      padding-left: 50px;
      border-radius: 10px;
    }

    input[type='password'] {
      background: url('../images/lock.svg') no-repeat;
      background-size: 20px;
      background-position: 5%;
      padding-left: 50px;
      border-radius: 10px;
    }
  }

  .forgot {
    margin: 15px 0;
    text-align: right;

    a {
      text-decoration: underline;
      font-size: 14px;
      color: #364ec8;
    }
  }

  .action-buttons {
    .btn-login {
      background: #001F5C;
      color: #fff;
      display: block;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 10px;
    }

    .btn-register {
      background: #005DB9;
      color: #fff;
      display: block;
      width: 100%;
      border-radius: 10px;
    }
  }

  .radio-buttons {
    margin-bottom: 10px;
  }
}

.back-link {
  font-family: "Metronic Pro";
}