.items-provider {
  .search-form {
    input {
      border-radius: 20px 0 0 20px;

      &:focus {
        outline: none;
      }
    }

    .input-group-text {
      border-radius: 0 20px 20px 0;
    }
  }

  .item {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    margin-bottom: 20px;

    .logo {
      padding: 10px;
      text-align: center;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        color: #fff!important;
        padding: 5px;
        font-size: 12px;
        text-align: center;
      }

      .link {
        background: #ffb734;

        a {
          color: #FFF!important;
        }
      }

      .zoom_id {
        background: #4055e3;
        border-radius: 0 0 18px 18px;

        a {
          color: #FFF!important;
        }
      }
    }
  }
}