/* BEGIN Bold */
@font-face {
  font-family : $fontFamily;
  font-style  : normal;
  font-weight : 700;
  font-display: swap;
  @include font_data($fontPath, $fontVersion, $FontType : "Bold");
}
/* END Bold */
