/* BEGIN Light */
@font-face {
  font-family : $fontFamily;
  font-style  : normal;
  font-weight : 300;
  font-display: swap;
  @include font_data($fontPath, $fontVersion, $FontType : "Light");
}
/* END Light */
