/* BEGIN Regular */
@font-face {
  font-family : $fontFamily;
  font-style  : normal;
  font-weight : 400;
  font-display: swap;
  @include font_data($fontPath, $fontVersion, $FontType : "Regular");
}
/* END Regular */
