.metronic {
}

@font-face {
  font-family: 'Metronic Pro';
  src: local('Metronic Pro Semi Bold'), local('Metronic-Pro-Semi-Bold'),
  url('../fonts/MetronicPro/MetronicPro-SemiBold.woff2') format('woff2'),
  url('../fonts/MetronicPro/MetronicPro-SemiBold.woff') format('woff'),
  url('../fonts/MetronicPro/MetronicPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}