{% extends 'admin/base.html.twig' %}

{% block title %}Recuperar contraseña{% endblock %}
{% block body_class %}login-form{% endblock %}

{% block body %}

    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div class="col-md-5">
                    <div class="text-center logo-element">
                        <img src="{{ asset('admin/images/logo.png') }}" class="img-fluid" alt="">
                        <h3>Eventos para Asociados</h3>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div id="login-column" class="col-md-6">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div class="col-md-12">
                            <form name="reset_password_request_form" class="form login-box" method="post" autocomplete="off" onsubmit="$('.btn-login').text('Enviando solicitud...'); $('.btn-login').prop('disabled',true)">
                                <h2 class="text-center mb-4">Recuperar tu contraseña</h2>
                                {% for flashError in app.flashes('reset_password_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                {% endfor %}
                                {{ form_row(requestForm._token) }}
                                <p class="message">
                                    Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
                                </p>
                                <div class="form-group">
                                    <input type="text" name="reset_password_request_form[email]" id="username" placeholder="Usuario (Email)" class="form-control" required autofocus/>
                                </div>
                                <div class="action-buttons">
                                    <button type="submit" class="btn btn-login btn-md mt-3">Enviar solicitud</button>
                                </div>
                                <div class="text-center">
                                    <a class="back-link" href="{{ path('app_login') }}">Ir al inicio de sesión</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
