{#{% extends 'admin/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}#}

{% extends 'admin/base.html.twig' %}

{% block title %}Cambiar contraseña{% endblock %}
{% block body_class %}login-form{% endblock %}

{% block body %}
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div class="col-md-5">
                    <div class="text-center logo-element">
                        <img src="{{ asset('admin/images/logo.png') }}" class="img-fluid" alt="">
                        <h3>Eventos para Asociados</h3>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div id="login-column" class="col-md-6">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div class="col-md-12">
                            <form name="reset_password_request_form" class="form login-box" method="post" autocomplete="off" onsubmit="$('.btn-login').text('Cambiando contraseña...'); $('.btn-login').prop('disabled',true)">
                                <h2 class="text-center mb-4">Cambia tu contraseña</h2>
                                {{ form_row(resetForm._token) }}

                                <div class="form-group">
                                    <input type="password" name="change_password_form[plainPassword][first]" id="change_password_form_plainPassword_first" placeholder="Nueva Contraseña" class="form-control" required/>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="change_password_form[plainPassword][second]" id="change_password_form_plainPassword_second" placeholder="Repite tu contraseña" class="form-control" required/>
                                </div>

                                <div class="action-buttons">
                                    <button type="submit" class="btn btn-login btn-md mt-3">Cambiar contraseña</button>
                                </div>
                                <div class="text-center">
                                    <a class="back-link" href="{{ path('app_login') }}">Ir al inicio de sesión</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
