<div class="vertical-nav bg-white" id="sidebar">
    <div class="logo">
        <img src="{{ asset('admin/images/logo-dark.png') }}" class="img-fluid" alt="">
    </div>
    <div class="py-4 px-3 mb-4 avatar">
        <div class="media d-flex align-items-center"><img src="{{ asset('admin/images/user_profile.png') }}" width="52" class="mr-3">
            <div class="media-body">
                <h4 class="m-0">Admin</h4>
                <p class="font-weight-light text-muted mb-0"><small>{{ app.user.profile.getFullName() }}</small></p>
            </div>
        </div>
    </div>

    {% set current_route = app.request.get('_route') %}

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="{{ path('event_index') }}" class="nav-link {{ current_route in ['home','event_index'] ? 'active':'' }}">
                <i class="fas fa-megaphone mr-3 fa-fw"></i>
                Eventos
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('provider_list') }}" class="nav-link {{ current_route in ['provider_list','provider_edit','transferrs_edit','provider_import','transferrs_import','transferloadXlsx'] ? 'active':'' }}">
                <i class="fa fa-th-large mr-3 fa-fw"></i>
                Proveedores
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ path('premiaton_index') }}" class="nav-link {{ current_route in ['premiaton_index'] ? 'active':'' }}">
                <i class="fa fa-address-card mr-3 fa-fw"></i>
                Premiaton
            </a>
        </li>
         <li class="nav-item">
            <a href="{{ path('incentive_index') }}" class="nav-link {{ current_route in ['winner_index'] ? 'active':'' }}">
                <i class="fa fa-gift mr-3 fa-fw"></i>
                Incentivos Proveedores
            </a>
        </li> 

        <li class="nav-item">
            <a href="{{ path('support') }}" class="nav-link {{ current_route in ['support'] ? 'active':'' }}">
                <i class="fa fa-phone mr-3 fa-fw"></i>
                Equipo soporte
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ path('offer_list') }}" class="nav-link {{ current_route in ['offer_list'] ? 'active':'' }}">
                <i class="fa fa-star mr-3 fa-fw"></i>
                Ofertas
            </a>
        </li>

         <li class="nav-item">
            <a href="{{ path('pqrs') }}" class="nav-link {{ current_route in ['pqrs_list'] ? 'active':'' }}">
                <i class="fa fa-envelope mr-3 fa-fw"></i>
                PQRS
            </a>
        </li>
    </ul>

    <ul class="nav flex-column mt-4">
        <li class="nav-item">
            <span>CONFIGURACIÓN</span>
        </li>
    </ul>
    <ul class="nav flex-column bg-white mt-2 mb-0">
        <li class="nav-item">
            <a href="{{ path('user_profile', {'id':app.user.id ??0,'view':'profile'} ) }}" class="nav-link">
                <i class="fas fa-user mr-3 fa-fw"></i>
                Mi Perfil
            </a>
        </li>

        {% if (app.user.isSuperAdmin()) %}
            <li class="nav-item">
                <a href="{{ path('user_list') }}" class="nav-link">
                    <i class="fas fa-users mr-3 fa-fw"></i>
                    Usuarios
                </a>
            </li>
        {% endif %}

    </ul>
    <ul class="nav flex-column bg-white mb-0 logout">
        <a class="nav-link">
            Version 1.0.0
        </a>
    </ul>
</div>

<button id="sidebarCollapse" type="button" class="btn btn-light bg-white"><i class="fa fa-bars"></i></button>
