<div class="top-menu text-right dropdown-report">
    <a class="dropdown">
        <a class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-file-contract mr-1 fa-fw"></i>
            Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ path('general_report') }}">Reporte General</a>
            <a class="dropdown-item" href="{{ path('consolidated_x_drugstore') }}">Consolidado por Drogueria</a>
            <a class="dropdown-item" href="{{ path('consolidated_x_asociated') }}">Consolidado por Asociado</a>
            <a class="dropdown-item" href="{{ path('register_provider_x_drugstore') }}">Registro Proveedor por Droguería</a>
            <a class="dropdown-item" href="{{ path('register_provider_x_asociated') }}">Registro Proveedor por Asociado</a>
            <a class="dropdown-item" href="{{ path('register_drugstore_x_time') }}">Registro Droguería por Hora</a>
            <a class="dropdown-item" href="{{ path('total_general') }}">Total General</a>
        </div>
    </a>
    <a href="javascript:closeSession() "class="app-link">
        <i class="fa fa-sign-out mr-1 fa-fw"></i>
        Cerrar Sesión
    </a>
</div>