{% extends 'admin/base.html.twig' %}

{% block title %}Ganadores{% endblock %}

{% block body %}
{% include 'admin/includes/menu.html.twig' %}
<div id="content">
    {% include 'admin/includes/top.html.twig' %}
    <!-- Page content holder -->
    <form action="{{ path('winner_save', {'pr_id': premiaton_id ,'id': reg[0].id ?? 0}) }}" method="POST" role="form" enctype="multipart/form-data">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Información Ganador</h2>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="">Premiaton</label>
                            <select class="form-control" name="dat[premiaton_id]">
                                {% if (reg) %}
                                <option value="{{(reg[0].id) ?? 0 }}" selected>{{ (reg[0].start_date) ?? 'Escoja un premiaton' }}</option>                               
                                {% endif %}
                                {% if (premiatons|length > 1) %}
                                {% for premiaton in premiatons %}
                                <option value="{{ premiaton.id }}">{{ premiaton.start_date }} - {{ premiaton.title }}</option>
                                {% endfor %}
                                {% endif %}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Proveedor</label>
                            <select class="form-control" name="dat[provider_id]">
                                <option value="{{ reg[0].id ?? 0 }}" selected>{{ reg[0].s ?? 'Escoja un proveedor' }}</option>
                                {% if (providers|length > 1) %}
                                {% for provider in providers %}
                                <option value="{{ provider.id }}">{{ provider.name }}</option>
                                {% endfor %}
                                {% endif %}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Código Asociado</label>
                            <select class="form-control" name="dat[associate_id]">
                                <option value="{{ reg[0].id ?? 0 }}" selected>{{ reg[0].code ?? 'Escoja un asociado' }}</option>
                                {% if (associates|length > 1) %}
                                {% for associate in associates %}
                                <option value="{{ associate.id }}">{{ associate.code }} - {{ associate.name }}</option>
                                {% endfor %}
                                {% endif %}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Imagen Ganador</label>
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" id="file" accept="image/x-png,image/gif,image/jpeg">
                                <label class="custom-file-label" for="file">{{ reg[0].logo ?? 'Selecciona un archivo' }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-12 mt-2">
                    <button type="submit" class="btn btn-primary m-t-5  btn-md">Guardar Ganador</button>
                    <a href="{{ path('premiaton_index') }}" class="btn btn-danger m-t-5  btn-md">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
{% block script_functions %}
{% if (reg) %}
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
    var table_settings = {{datatable_settings(datatable)}},
        del_ctrl = '{{ path('winner_delete')}}'
</script>
{% endif %}
{% endblock %}