/* ---------------------------------------------------------------------- */
/*  Forms
/* ---------------------------------------------------------------------- */
.form-label-group {
  position : relative;
}
.form-control:focus {
  box-shadow         : none;
  -webkit-box-shadow : none;
}
.form-label-group > input,
.form-label-group > label {
  color   : #000;
  padding : .531rem 0;
}
.form-label-group > label {
  color         : #000;
  display       : inline-block;
  left          : 0;
  line-height   : 2;
  margin-bottom : 0; /* Override default `<label>` margin */
  position      : absolute;
  top           : 0;
  transition    : all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  background-color : #fff;
  color            : #fff;
}
.form-label-group input:-ms-input-placeholder {
  background-color : #fff;
  color            : #fff;
}
.form-label-group input::-ms-input-placeholder {
  background-color : #fff;
  color            : #fff;
}
.form-label-group input::-moz-placeholder {
  background-color : #fff;
  color            : #fff;
}
.form-label-group input::placeholder {
  background-color : #fff;
  color            : #fff;
}
.form-label-group input:not(:placeholder-shown) ~ label {
  color       : #666;
  font-size   : 12px;
  margin-left : 0;
  margin-top  : -9px;
  padding     : 0;
}