/* 
 * 	Owl Carousel CSS File
*/

@import 'owl-carousel/core';
@import 'owl-carousel/animate';
@import 'owl-carousel/autoheight';
@import 'owl-carousel/lazyload';
@import 'owl-carousel/video';

/*
 * 	Default theme
*/

@import "owl-carousel/theme.default";

.owl_slider {
  .owl-prev, .owl-next {
    bottom           : 44%;
    background-color : #fff;
    color            : $color-two !important;
    font-family      : 'FontAwesome', sans-serif;
    border-radius    : 50%;
    text-align       : center;
    i {
      width : 34px;
      font-size   : rem(22);
      line-height : rem(40);
      vertical-align: middle;
    }
  }
  .owl-prev {
    position            : absolute;
    left                : 20px;
    background-position : left;
  }
  .owl-next {
    position            : absolute;
    right               : 20px;
    background-position : right;
  }
}