{% extends 'admin/base.html.twig' %}

{% block title %}Premiaton{% endblock %}

{% block body %}
{% include 'admin/includes/menu.html.twig' %}
<div id="content">

    {% include 'admin/includes/top.html.twig' %}

    <form action="{{ path('premiaton_save', {'id': reg[0].id ?? 0}) }}" method="POST" role="form" class="form" enctype="multipart/form-data">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Información Premiaton</h2>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="">Eventos Activos</label>
                            <select class="form-control" name="dat[event_id]" required>
                                <option value="{{ reg[0].id ?? '' }}" selected>{{ reg[0].title ?? 'Selecciona un evento' }}</option>
                                {% if (events|length > 1) %}
                                {% for event in events %}
                                <option value="{{ event.id }}">{{ event.title }}</option>
                                {% endfor %}
                                {% endif %}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Imágen Premiaton</label>
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" id="file" accept="image/x-png,image/gif,image/jpeg">
                                <label class="custom-file-label" for="file">{{ reg[0].logo ?? 'Selecciona un archivo' }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-12 mt-2">
                    <button type="submit" class="btn btn-primary m-t-5 btn-md">Guardar Premiaton</button>
                    <a href="{{ path('premiaton_index') }}" class="btn btn-danger m-t-5  btn-md">Cancelar</a>
                </div>
                {% if (reg) %}
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <div id="datatable"></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>

</div>

{% endblock %}
{% block script_functions %}
{% if (reg) %}
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
    var table_settings = {{datatable_settings(datatable)}},
        del_ctrl = '{{ path('premiaton_delete')}}'
</script>
{% endif %}
{% endblock %}