{% extends 'admin/base.html.twig' %}

{% block title %}Premiaton{% endblock %}

{% block body %}
    {% include 'admin/includes/menu.html.twig' %}

    <div id="content">
        {% include 'admin/includes/top.html.twig' %}
        <div class="page-content">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Importación de Ganadores Premiaton</h2>
                </div>
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        Para importar un listado de ganadores realice los siguientes pasos:
                        <ol>
                           <li><a href = "{{ path('export_sample_winner') }}">Descarga el archivo de muestra aqui</a></li>
                            <li>Abrelo y duplica las filas del evento que necesites</li>
                            <li>Modifica el archivo en las columnas  <strong>IMÁGEN GANADOR</strong>, <strong>PROVEEDOR</strong> e <strong>CÓDIGO ASOCIADO</strong> (<strong>no modifiques la columna ID</strong>)</li>
                            <li>Guarda el archivo</li>
                            <li>Selecciona el archivo modificado (con peso máximo de 5 MB)</li>
                            <li>Presiona el botón <strong>Importar Datos</strong></li>
                            <li>Espera un momento mientras se carga tu información, el proceso puede tardar teniendo en cuenta la cantidad de datos importados</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form action="#" method="post" enctype="multipart/form-data">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required/>
                            <label name="file" class="custom-file-label">Selecciona un archivo en formato .xlsx</label>
                            <br/>
                            <br/>
                        </div>
                        <button class="btn btn-success">Importar Datos</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}