{% extends 'admin/base.html.twig' %}

{% block title %}Premiaton{% endblock %}

{% block body %}
{% include 'admin/includes/menu.html.twig' %}

<div id="content">
    {% include 'admin/includes/top.html.twig' %}
    <div class="page-content">
        <div class="row">
            <div class="col-lg-6">
                <h2>Premiaton</h2><a href="{{ path('email')}}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>Email</a>
            </div>
            <div class="col-lg-6 text-right">
                <a href="{{ path('premiaton_edit',{id:0}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>
                    Nueva Premiaton</a>&nbsp;
                <a href="{{ path('premiaton_import') }}" class="btn btn-sm btn-info"><i class="fa fa-file-import"></i>
                    Importar Premiaton</a>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div id="datatable"></div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block script_functions %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        var table_settings = {{datatable_settings(datatable)}},
            del_ctrl = '{{path('premiaton_delete')}}'
    </script>
    {% endblock %}