// Mobile Menu

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 800px) {
  .container-fluid {
    padding: 0 20px;
  }
  .slicknav_menu {
    display: block;
  }
  .topMenu {
    display: none;
  }
  .areaHeader {
    .topBar {
      border-bottom: 0;
    }
  }
}

@media screen and (max-width: 640px) {

  .items-provider {
    h2 {
      color: #4055e3;
      font-weight: 700;
      text-align: center;
      line-height: 1;
      margin-bottom: 20px;
    }

    .m-b-50 {
      margin-bottom: 30px;
    }
  }

  .top-menu {
    a {
      font-size: 12px;
    }
  }
}


@media screen and (max-width: 768px) {

  #sidebarCollapse {
    display: block;
    left: 20px;
  }

  #sidebar {
    margin-left: -19rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content, .page-content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 19rem;
    width: calc(100% - 19rem);
  }
}
