{% extends 'admin/base.html.twig' %}

{% block title %}Inicia sesión{% endblock %}
{% block body_class %}login-form{% endblock %}

{% block body %}

    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div class="col-md-5">
                    <div class="text-center logo-element">
                        <img src="{{ asset('admin/images/logo.png') }}" class="img-fluid" alt="">
                        <h3>Eventos para Asociados</h3>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div id="login-column" class="col-md-6">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div class="col-md-12">
                            <form class="form login-box" action="" method="post" autocomplete="off">
                                <h2 class="text-center">Bienvenidos</h2>

                                {% if error %}
                                    <div class="alert alert-danger"><i class="fa fa-info-circle"></i> Credenciales inválidas</div>
                                {% endif %}

                                <input type="hidden" name="form" value="admin_login">
                                <input type="hidden" name="go_to" value="{{ path('event_index') }}" />
                                {#<input type="hidden" name="_target_path" value="associted" />#}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="form-group">
                                    <input type="text" name="email" id="username" placeholder="Usuario" class="form-control" value="{{ last_username }}" required autofocus/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" placeholder="Contraseña" class="form-control" required/>
                                </div>
                                <div class="form-group forgot">
                                    <a class="back-link" href="{{ path('app_forgot_password_request') }}">¿Olvidaste tu contraseña?</a><br>
                                </div>
                                <div class="action-buttons">
                                    <button type="submit" class="btn btn-md btn-login " value="submit">Ingresar</button>
                                    {#<button type="button" class="btn btn-register btn-md" value="submit">Registrarse</button>#}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}