// ------------------------------------------------
//  Dotts Remove
// ------------------------------------------------
body {
  background: #f0f0f0 !important;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
}

a:active {
  outline: none !important;
}

a:focus {
  -moz-outline-style: none !important;
}

a, a:active, a:focus {
  outline: none !important;
}

// ------------------------------------------------
//  html General
// ------------------------------------------------

/*
  2px = 0.125rem
  4px = 0.25rem
  6px = 0.375rem
  8px = 0.5rem
  9px = 0.5625rem
  10px = 0.625rem
  11px = 0.6875rem
  12px = 0.75rem
  13px = 0.8125rem
  14px = 0.875rem
  16px = 1rem (base)
  18px = 1.125rem
  20px = 1.25rem
  22px = 1.375rem
  24px = 1.5rem
  26px = 1.625rem
  28px = 1.75rem
  30px = 1.875rem
  32px = 2rem
  34px = 2.125rem
  36px = 2.25rem
  38px = 2.375rem
  40px = 2.5rem
*/

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

figure {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700;
}

// Margin

.auto_margin {
  margin: auto;
  max-width: 1060px;
}

.full-width {
  width: 100%;
}

// Custom heights

$i: 50;
@while $i > 0 {
  .height_#{$i} {
    height: $i - 5+5px;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
  }
  $i: $i - 5;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#content {
  padding: 10px 20px 20px;
  color: #000
}

.page-content {
  width: calc(100% - 19rem);
  margin-left: 19rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 30px;

  h2, h4 {
    color: $primary-color;
    font-weight: 700;
    font-family: 'Metronic Pro';
    margin-bottom: 20px;
  }
}

.m-b-50 {
  margin-bottom: 50px;
}

#sidebarCollapse {
  position: absolute;
  left: 323px;
  top: 4px;
  padding: 5px 11px;
  border-radius: 5px;
  display: none;
}

.detail-form, .update-form {
  #content {
    padding: 0 0 10px 0;
  }
}

.avatar, .btn {
  font-family: 'Metronic Pro';
}

.w-120 {
  width: 120px;
}

.w-20 {
  width: 20px;
}

.form-group {
  label {
    font-family: "Metronic Pro";
  }
}


.search-input {
  margin: 5px 0;

  &:focus, &:active {
    outline: none
  }
}

.table-assign {
  td {
    vertical-align: middle;
  }
}

.n-m {
  margin: 0 !important;
}
 
.overflow-h {
  overflow: hidden;
}