.dropdown-report {
    .dropdown-menu {
        max-width: 300px;
        border-radius: 10px;

        .dropdown-item {
            margin-left: 0px !important;
        }
    }
}

.app-link {
    font-size: 0.9rem;
}

