<div class="slide">
    <div class="owl_slider owl-carousel owl-theme">

        {% if allBanners is defined %}
            {% for img in allBanners %}
                <a href="{{ img['link'] }}">
                    <div class="item">
                        <div class="mask"></div>
                        <figure>
                            <img src="{{ asset('upload/banner/b'~img['filename']) }}" class="fill-box" alt="{{ img['description']??'Imagen banner' }}">
                        </figure>
                    </div>
                </a>
            {% endfor %}
        {% endif %}

        {% if banners is defined %}
            {% for banner in banners %}
                {% if (event_id is defined and event_id is  null) %}
                    {% set routeLink = banner.link ?? path('associate_events') %}
                {% else %}
                    {% set routeLink = banner.link ?? path('menu_events')  %}
                {% endif %}
                <a href="{{ routeLink }}">
                    <div class="item">
                        <div class="mask"></div>
                        <figure>
                            <img src="{{ asset('upload/banner/b'~banner.filename) }}" class="fill-box" alt="{{ banner.description??'Imagen banner' }}">
                        </figure>
                    </div>
                </a>

            {% endfor %}
        {% endif %}

    </div>
</div>