<div class="footer">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 justify-content-center align-items-center">
            {% if(content_url is defined) %}
                {% if(content_url is not null) %}
                    <a href="{{ asset('/upload/terms/'~content_url) }}" target="_blank">Términos y Condiciones</a>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-lg-6 text-right">
            <img src="{{ asset('site/images/logo-footer.png') }}" class="logo" alt="" width="200">
        </div>
    </div>
</div>