<div class="menu">
    <div class="row">
        <div class="col-lg-6 logo">
            <a href="{{ path('associate_events') }}">
                <img src="{{ asset('site/images/logo.png') }}" alt="" width="200">
            </a>
        </div>

        {% set current_route = app.request.get('_route') %}

        <div class="col-lg-6">
            <div class="nav">
                <div class="nav-items full-width text-right">

                    {#{% if(current_route != 'associate_events') %}#}
                        <a href="{{ path('associate_events') }}">Inicio</a>
                    {#{% endif %}#}

                    <a href="{{ path('associate_contact') }}">Contacto</a>
                    <a href="{{ path('associate_pqrs') }}">PQRS</a>
                    <a href="javascript:closeSessionAssociated()">Salir</a>
                </div>
            </div>
        </div>
    </div>
</div>