.fira {
  color: #ddd;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans/fira-sans-extra-condensed-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/fira-sans/fira-sans-extra-condensed-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/fira-sans/fira-sans-extra-condensed-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/fira-sans/fira-sans-extra-condensed-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/fira-sans/fira-sans-extra-condensed-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/fira-sans/fira-sans-extra-condensed-v4-latin-regular.svg#FiraSansExtraCondensed') format('svg'); /* Legacy iOS */
}